

<div class="academic-profile-promo-container">
    <section class="academic-profile-promo">
        <div class="academic-profile-promo-backdrop academic-profile-promo-pattern academic-profile-promo-pattern-zigzag academic-profile-promo-pattern-light-grey academic-profile-promo-no-image">
            <div class="academic-profile-promo-pattern-background" role="presentation"></div>                    </div>
        <div class="academic-profile-promo-panel">
            <div class="academic-profile-promo-panel-inner">
                <h3>
                    Dr Ian Turner
                                        <br/><span class="subheading">Head of forensic sciences</span>
                                    </h3>
                <p>Head of Forensic Science and the Deputy Head of the Dept. of Natural Sciences in the College of Life and Natural Sciences.  Interested in Forensic Science research specifically the areas of Forensic Handwriting and Document Analysis.</p>
                <dl class="academic-profile-promo-panel-contact-details">
                    <dt class="academic-profile-promo-panel-contact-details-heading">Email</dt>
                    <dd>i.turner@derby.ac.uk</dd>
                </dl>
                                <a href="#" class="button-outline" role="button" tabindex="0" data-scroll>
        View full staff profile
            <span class="button-overlay"><span>
                        View full staff profile
                    </span></span></a>                            </div>
        </div>
    </section>
</div>

