

<section class="accordion">
            <div class="accordion-tablist" role="tablist">
                <div class="accordion-tab">
            <a id="year-one-label" href="#year-one" class="accordion-tab-title-container collapse-toggle active"
                data-collapse                 role="tab" aria-expanded="true" aria-controls="year-one">
                <h4 class="accordion-tab-title">
                    Year one
                    <span class="accordion-tab-title-indicator">
                        <i class="uod-icons uod-icons-chevron-down"></i>
                    </span>
                </h4>
            </a>
            <div id="year-one" class="accordion-tab-content collapse active" role="tabpanel" aria-labelledby="year-one-label">
                <div class="accordion-tab-content-inner">
                    You’ll study modules such as:
    <ol>
        <li>Making it: Materials and Manufacturing Processes</li>
        <li>Product Design Studies</li>
        <li>Innovation</li>
        <li>Computer Aided Product Design</li>
        <li>Design Evaluation</li>
        <li>Context: Being a Product Designer</li>
    </ol>
                </div>
            </div>
        </div>
                <div class="accordion-tab">
            <a id="year-two-label" href="#year-two" class="accordion-tab-title-container collapse-toggle"
                data-collapse                 role="tab" aria-expanded="false" aria-controls="year-two">
                <h4 class="accordion-tab-title">
                    Year two
                    <span class="accordion-tab-title-indicator">
                        <i class="uod-icons uod-icons-chevron-down"></i>
                    </span>
                </h4>
            </a>
            <div id="year-two" class="accordion-tab-content collapse" role="tabpanel" aria-labelledby="year-two-label">
                <div class="accordion-tab-content-inner">
                    <p>Product Design at Derby is aimed at creative people who may have studied Art and Design or Design Technology
    at school or developed a passion for the subject since leaving formal education. We will help you to
    <strong>build on your creativity</strong> and develop an understanding of the
    <em>reality of design</em> for manufacture.
    <a href="#">This is a link.</a> because we teach in small groups we can help you to develop your potential as an
    individual and support your enthusiasm for design.</p>
                </div>
            </div>
        </div>
                <div class="accordion-tab">
            <a id="year-three-label" href="#year-three" class="accordion-tab-title-container collapse-toggle"
                data-collapse                 role="tab" aria-expanded="false" aria-controls="year-three">
                <h4 class="accordion-tab-title">
                    Year three
                    <span class="accordion-tab-title-indicator">
                        <i class="uod-icons uod-icons-chevron-down"></i>
                    </span>
                </h4>
            </a>
            <div id="year-three" class="accordion-tab-content collapse" role="tabpanel" aria-labelledby="year-three-label">
                <div class="accordion-tab-content-inner">
                    <p>Full-time students applying in September should apply for this course through UCAS  or you can apply directly to the University  for an undergraduate course if you’re not applying to any other UK university in the same year.</p>
    <p>
        <a href="#" class="button-outline">
            Apply through UCAS<i class="uod-icons uod-icons-external-link"></i>
        </a>
        <a href="#" class="button-outline">
            Apply directly to the University<i class="uod-icons uod-icons-external-link"></i>
        </a>
    </p>
                </div>
            </div>
        </div>
            </div>
</section>

