

<div class="anchor-links-container">
    <nav class="anchor-links" role="navigation" aria-labelledby="anchor-links-title-label" aria-expanded="true" data-gumshoe-header data-scroll-header>
        <div class="anchor-links-title">
            <a href="#" class="anchor-links-title-link" aria-controls="page-content-navigation">
                <i class="uod-icons uod-icons-menu anchor-links-title-menu-icon" role="presentation"></i>
                <span id="anchor-links-title-label" class="anchor-links-title-label">On this page</span>
            </a>
            <a href="#" class="anchor-links-title-close" aria-label="Close Page Content Navigation">
                <i class="uod-icons uod-icons-cross anchor-links-title-close-icon"></i>
            </a>
        </div>
        <div class="anchor-links-list-container">
            <ul id="page-content-navigation" class="anchor-links-list" data-gumshoe>
                                <li class="anchor-links-list-item">
                    <a href="#course-description" class="anchor-links-list-item-link" data-scroll>Course description</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#what-will-you-study" class="anchor-links-list-item-link" data-scroll>What will you study</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#how-will-you-learn" class="anchor-links-list-item-link" data-scroll>How will you learn</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#entry-requirements" class="anchor-links-list-item-link" data-scroll>Entry requirements</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#fees-and-funding" class="anchor-links-list-item-link" data-scroll>Fees and funding</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#how-to-apply" class="anchor-links-list-item-link" data-scroll>How to apply</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#careers" class="anchor-links-list-item-link" data-scroll>Careers</a>
                </li>
                            </ul>
        </div>
    </nav>
</div>

