

<div class="basic-promo-container">
    <section class="basic-promo basic-promo-left-align basic-promo-default">
        <div class="basic-promo-backdrop basic-promo-pattern basic-promo-pattern-diagonal basic-promo-pattern-turquoise">
            <div class="basic-promo-pattern-background" role="presentation"></div>            <div class="basic-promo-image-container">
                <img src="../../images/UG19Prosp-Keyvis-292.jpg" alt="Man at the Gym" />            </div>
        </div>
        <div class="basic-promo-panel">
            <div class="basic-promo-panel-inner">
                <h3>Living at the University of Derby</h3>
                <p>Our three safe and friendly campuses are all located in the English county of Derbyshire. They're all easy to get to by road and rail.</p>
                                <a href="#" class="button-outline" role="button" tabindex="0" data-scroll>
        View accomodation options
            <span class="button-overlay"><span>
                        View accomodation options
                    </span></span></a>                            </div>
        </div>
    </section>
</div>

