

<!-- Start: For the purposes of demo only -->
<style>
    .wrapper-white {
        background:#101d49;
        padding: 1em;
    }
</style>
<!-- End: For the purposes of demo only -->
<div class="wrapper-white">
<nav aria-label="Breadcrumb links" class="breadcrumbs white">
    <ol class="breadcrumbs-container">
                <li class="breadcrumbs-item">
            <a href="#">International</a>
            <i class="uod-icons uod-icons-separator breadcrumbs-separator"></i>        </li>
                <li class="breadcrumbs-item">
            <a href="#">Fees and funding</a>
            <i class="uod-icons uod-icons-separator breadcrumbs-separator"></i>        </li>
                <li class="breadcrumbs-item">
            <a href="#">Scholarships and bursaries</a>
                    </li>
            </ol>
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [        {
          "@type": "ListItem",
          "position": 1,
          "item": {
            "@id": "#",
            "name": "International"
          }
        },        {
          "@type": "ListItem",
          "position": 2,
          "item": {
            "@id": "#",
            "name": "Fees and funding"
          }
        },        {
          "@type": "ListItem",
          "position": 3,
          "item": {
            "@id": "#",
            "name": "Scholarships and bursaries"
          }
        }]
    }
    </script>
</nav>
</div>

