

<section class="course-teaser" onclick="javascript:window.location.href=#">
    <div class="tag tag-orange">Buxton & Leek college</div>    <div class="course-teaser-course-level">Foundation Course</div>    <div class="course-teaser-heading"><h5><a href="#">Create Art & Design Practice (FDA)</a></h5></div>    <div class="course-teaser-description">This unique entrepreneurship course is for students wishing to establish themselves as contemporary artists, designers and makers.</div>            <div class="course-teaser-calltoaction">
        <a href="#" class="button-outline" role="button" tabindex="0" data-scroll>
        View course
    <i class="button-icon uod-icons uod-icons-external-link"></i><span class="button-overlay"><span>
                        View course
            <i class="button-icon uod-icons uod-icons-external-link"></i></span></span></a>    </div>
    </section>

