

<section class="course-teaser" onclick="javascript:window.location.href=#">
        <div class="course-teaser-course-level">Postgraduate Course</div>    <div class="course-teaser-heading"><h5><a href="#">Advanced materials and additive manafacturing Msc, example of really long course title</a></h5></div>    <div class="course-teaser-description">You’ll experiment with the latest digital software, learn about the principles of animation, produce distinctive animated films and develop the professional awareness you need to launch your career.</div>        <div class="course-teaser-key-stats">
                <div class="course-teaser-key-stat course-teaser-key-stat-full-width">
            <div class="course-teaser-key-stat-label">Study options:</div>
            <div class="course-teaser-key-stat-content">Full-time, 3 years / With industry year, 4 years / Part time</div>
        </div>
                <div class="course-teaser-key-stat">
            <div class="course-teaser-key-stat-label">UCAS code:</div>
            <div class="course-teaser-key-stat-content">H600</div>
        </div>
                <div class="course-teaser-key-stat">
            <div class="course-teaser-key-stat-label">UCAS points:</div>
            <div class="course-teaser-key-stat-content">UCAS 120</div>
        </div>
            </div>
            <div class="course-teaser-calltoaction">
        <a href="#" class="button-outline" role="button" tabindex="0" data-scroll>
        View course
            <span class="button-overlay"><span>
                        View course
                    </span></span></a>    </div>
    </section>

