

<section class="course-teaser" onclick="javascript:window.location.href=#">
        <div class="course-teaser-course-level">Short Course</div>    <div class="course-teaser-heading"><h5><a href="#">Assistant Practitioner to Radiographer</a></h5></div>    <div class="course-teaser-description">This is an intense, yet rewarding short course, providing you with the opportunity to enhance your existing knowledge and skills to join the third year of the BSc (Hons) Diagnostic Radiography.</div>        <div class="course-teaser-key-stats">
                <div class="course-teaser-key-stat">
            <div class="course-teaser-key-stat-label">Study options:</div>
            <div class="course-teaser-key-stat-content">CPD, Full-time</div>
        </div>
                <div class="course-teaser-key-stat">
            <div class="course-teaser-key-stat-label">UCAS code:</div>
            <div class="course-teaser-key-stat-content">H600</div>
        </div>
            </div>
            <div class="course-teaser-calltoaction">
        <a href="#" class="button-outline" role="button" tabindex="0" data-scroll>
        View course
            <span class="button-overlay"><span>
                        View course
                    </span></span></a>    </div>
    </section>

