

<section class="image-group image-group-2-images">
        <figure class="image-group-image-fig">
        <img class="image-group-image-img" src="../../images/image-group-demo/_56A0980.jpg" srcset="../../images/image-group-demo/_56A0980,w_320.jpg 320w, ../../images/image-group-demo/_56A0980,w_400.jpg 400w, ../../images/image-group-demo/_56A0980,w_650.jpg 650w, ../../images/image-group-demo/_56A0980,w_900.jpg 900w, ../../images/image-group-demo/_56A0980.jpg" alt="Creative drawing" />
    </figure>
        <figure class="image-group-image-fig">
        <img class="image-group-image-img" src="../../images/image-group-demo/chairs-uod.jpg" srcset="../../images/image-group-demo/chairs-uod,w_320.jpg 320w, ../../images/image-group-demo/chairs-uod,w_400.jpg 400w, ../../images/image-group-demo/chairs-uod,w_650.jpg 650w, ../../images/image-group-demo/chairs-uod,w_900.jpg 900w, ../../images/image-group-demo/chairs-uod.jpg" alt="Designer chairs" />
    </figure>
    </section>
