

<section class="media-embed">
    <figure class="media-embed-fig">
        <img class="media-embed-img" src="../../images/nature-connections-scarlet-honeyeater-bird-red-feathers.jpg" alt="Scarlet honey eater bird" />
                <figcaption class="media-embed-caption">
            <span class="media-embed-caption-background">Scarlet honey eater bird. This caption has really, unreasonably long caption text to illustrate what would happen if there was an awful lot of text associated with an image.</span>
        </figcaption>
            </figure>
</section>

