

<section class="key-stats">
            <section class="text-block" role="region"  aria-labelledby="research-description" >
    <h2 id="research-description">Research description</h2>            <p>The pathways have been used to develop an indicator that measures how connected to nature a person is. It’s hoped that this indicator will be adopted by national policy makers as a way of measuring the effects of interventions. The University led this work, alongside The Wildlife Trusts, National Trust, Natural England, RSPB, and Historic England.</p><p>The University led this work, alongside The Wildlife Trusts, National Trust, Natural England, RSPB, and Historic England.</p>
        </section>
    
    <section class="key-stats-container">
                    <div class="key-stat">
                                                <span class="key-stat-big-text">10<sup>%</span>                <span class="key-stat-subtitle">Written explanation of key statistic underneath the number goes here</span>                            </div>
                    <div class="key-stat">
                                                <span class="key-stat-big-text">10<small>x</small></span>                <span class="key-stat-subtitle">the amount of sign ups than before launch</span>                            </div>
                    <div class="key-stat">
                                                <span class="key-stat-big-text">3<sub> in </sub>4</span>                <span class="key-stat-subtitle">students are employed within 6 months of course completion</span>                            </div>
            </section>

</section>

    
