

<section class="key-course-details-block">
    <div class="key-course-details-block-inner">
        <h2 id="course-details">Course details</h2>
        <div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Study option</p>
                <p class="key-course-details-block-item-p">
                                    Full-time / 3 years / £9,250 per year<br />Part-time / up to 6 years / £1,155 per module
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">UCAS points</p>
                <p class="key-course-details-block-item-p">
                                    104
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">UCAS code</p>
                <p class="key-course-details-block-item-p">
                                    C100
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Course level</p>
                <p class="key-course-details-block-item-p">
                                    Undergraduate
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Qualification</p>
                <p class="key-course-details-block-item-p">
                                    BSc (Hons) degree
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Location</p>
                <p class="key-course-details-block-item-p">
                                    Kedleston Road site, Derby Campus
                                </p>
            </div>
             
        </div>
    </div>
        <div>
                <div class="key-course-details-block-option">
            <div class="key-course-details-block-option-inner">
                <p class="key-course-details-block-option-p">This course is available as a Joint Honours degree.</p>
                <p class="key-course-details-block-option-p">
                    <a href="https://www.derby.ac.uk/biology-and-zoology-courses/biology-joint-honours/" class="button-outline" role="button" tabindex="0" data-scroll>
        View Joint Honours options
            <span class="button-overlay"><span>
                        View Joint Honours options
                    </span></span></a>                </p>
            </div>
        </div>
                    </div>
    </section>




