

<!-- Start: @key-course-details-block--default -->
<section class="key-course-details-block">
    <div class="key-course-details-block-inner">
        <h2 id="course-details">Course details</h2>
        <div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Study option</p>
                <p class="key-course-details-block-item-p">
                                    Full-time / 3 years / £9,250 per year<br />Part-time / up to 6 years / £1,155 per module
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">UCAS points</p>
                <p class="key-course-details-block-item-p">
                                    104
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">UCAS code</p>
                <p class="key-course-details-block-item-p">
                                    C100
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Course level</p>
                <p class="key-course-details-block-item-p">
                                    Undergraduate
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Qualification</p>
                <p class="key-course-details-block-item-p">
                                    BSc (Hons) degree
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Location</p>
                <p class="key-course-details-block-item-p">
                                    Kedleston Road site, Derby Campus
                                </p>
            </div>
             
        </div>
    </div>
    </section>
<!-- End: @key-course-details-block--default -->

<!-- Start: @key-course-details-block--with-joint-honours -->
<section class="key-course-details-block">
    <div class="key-course-details-block-inner">
        <h2 id="course-details">Course details</h2>
        <div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Study option</p>
                <p class="key-course-details-block-item-p">
                                    Full-time / 3 years / £9,250 per year<br />Part-time / up to 6 years / £1,155 per module
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">UCAS points</p>
                <p class="key-course-details-block-item-p">
                                    104
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">UCAS code</p>
                <p class="key-course-details-block-item-p">
                                    C100
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Course level</p>
                <p class="key-course-details-block-item-p">
                                    Undergraduate
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Qualification</p>
                <p class="key-course-details-block-item-p">
                                    BSc (Hons) degree
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Location</p>
                <p class="key-course-details-block-item-p">
                                    Kedleston Road site, Derby Campus
                                </p>
            </div>
             
        </div>
    </div>
        <div>
                <div class="key-course-details-block-option">
            <div class="key-course-details-block-option-inner">
                <p class="key-course-details-block-option-p">This course is available as a Joint Honours degree.</p>
                <p class="key-course-details-block-option-p">
                    <a href="https://www.derby.ac.uk/biology-and-zoology-courses/biology-joint-honours/" class="button-outline" role="button" tabindex="0" data-scroll>
        View Joint Honours options
            <span class="button-overlay"><span>
                        View Joint Honours options
                    </span></span></a>                </p>
            </div>
        </div>
                    </div>
    </section>
<!-- End: @key-course-details-block--with-joint-honours -->

<!-- Start: @key-course-details-block--with-foundation-year -->
<section class="key-course-details-block">
    <div class="key-course-details-block-inner">
        <h2 id="course-details">Course details</h2>
        <div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Study option</p>
                <p class="key-course-details-block-item-p">
                                    Full-time / 3 years / £9,250 per year<br />Part-time / up to 6 years / £1,155 per module
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">UCAS points</p>
                <p class="key-course-details-block-item-p">
                                    104
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">UCAS code</p>
                <p class="key-course-details-block-item-p">
                                    C100
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Course level</p>
                <p class="key-course-details-block-item-p">
                                    Undergraduate
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Qualification</p>
                <p class="key-course-details-block-item-p">
                                    BSc (Hons) degree
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Location</p>
                <p class="key-course-details-block-item-p">
                                    Kedleston Road site, Derby Campus
                                </p>
            </div>
             
        </div>
    </div>
        <div>
                        <div class="key-course-details-block-option">
            <div class="key-course-details-block-option-inner">
                <p class="key-course-details-block-option-p">If you do not achieve the typical entry points required, you may want to consider studying this course with foundation year.</p>
                <p class="key-course-details-block-option-p">
                    <a href="" class="button-outline" role="button" tabindex="0" data-scroll>
        View with foundation year option
            <span class="button-overlay"><span>
                        View with foundation year option
                    </span></span></a>                </p>
            </div>
        </div>
            </div>
    </section>
<!-- End: @key-course-details-block--with-foundation-year -->

<!-- Start: @key-course-details-block--with-joint-honours-and-foundation-year -->
<section class="key-course-details-block">
    <div class="key-course-details-block-inner">
        <h2 id="course-details">Course details</h2>
        <div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Study option</p>
                <p class="key-course-details-block-item-p">
                                    Full-time / 3 years / £9,250 per year<br />Part-time / up to 6 years / £1,155 per module
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">UCAS points</p>
                <p class="key-course-details-block-item-p">
                                    104
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">UCAS code</p>
                <p class="key-course-details-block-item-p">
                                    C100
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Course level</p>
                <p class="key-course-details-block-item-p">
                                    Undergraduate
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Qualification</p>
                <p class="key-course-details-block-item-p">
                                    BSc (Hons) degree
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Location</p>
                <p class="key-course-details-block-item-p">
                                    Kedleston Road site, Derby Campus
                                </p>
            </div>
             
        </div>
    </div>
        <div>
                <div class="key-course-details-block-option">
            <div class="key-course-details-block-option-inner">
                <p class="key-course-details-block-option-p">This course is available as a Joint Honours degree.</p>
                <p class="key-course-details-block-option-p">
                    <a href="https://www.derby.ac.uk/biology-and-zoology-courses/biology-joint-honours/" class="button-outline" role="button" tabindex="0" data-scroll>
        View Joint Honours options
            <span class="button-overlay"><span>
                        View Joint Honours options
                    </span></span></a>                </p>
            </div>
        </div>
                        <div class="key-course-details-block-option">
            <div class="key-course-details-block-option-inner">
                <p class="key-course-details-block-option-p">If you do not achieve the typical entry points required, you may want to consider studying this course with foundation year.</p>
                <p class="key-course-details-block-option-p">
                    <a href="https://www.derby.ac.uk/biology-and-zoology-courses/biology-joint-honours/" class="button-outline" role="button" tabindex="0" data-scroll>
        View with foundation year option
            <span class="button-overlay"><span>
                        View with foundation year option
                    </span></span></a>                </p>
            </div>
        </div>
            </div>
    </section>
<!-- End: @key-course-details-block--with-joint-honours-and-foundation-year -->

<!-- Start: @key-course-details-block--online-course -->
<section class="key-course-details-block">
    <div class="key-course-details-block-inner">
        <h2 id="course-details">Course details</h2>
        <div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Study option</p>
                <p class="key-course-details-block-item-p">
                                    Part-time / up to 2 years / £4,500
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Course code</p>
                <p class="key-course-details-block-item-p">
                                    N401
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Course level</p>
                <p class="key-course-details-block-item-p">
                                    Undergraduate
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Qualification</p>
                <p class="key-course-details-block-item-p">
                                    BA (Hons) Top-Up degree
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Location</p>
                <p class="key-course-details-block-item-p">
                                    <span class="tag tag-turquoise">Online</span>
                                </p>
            </div>
             
        </div>
    </div>
    </section>
<!-- End: @key-course-details-block--online-course -->

