

<section class="key-course-details-block">
    <div class="key-course-details-block-inner">
        <h2 id="course-details">Course details</h2>
        <div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Study option</p>
                <p class="key-course-details-block-item-p">
                                    Part-time / up to 2 years / £4,500
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Course code</p>
                <p class="key-course-details-block-item-p">
                                    N401
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Course level</p>
                <p class="key-course-details-block-item-p">
                                    Undergraduate
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Qualification</p>
                <p class="key-course-details-block-item-p">
                                    BA (Hons) Top-Up degree
                                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Location</p>
                <p class="key-course-details-block-item-p">
                                    <span class="tag tag-turquoise">Online</span>
                                </p>
            </div>
             
        </div>
    </div>
    </section>




