

<section class="key-stats">
            <section class="text-block" role="region"  aria-labelledby="custom-icons" >
    <h2 id="custom-icons">Custom icons</h2>            <p>Any icon available in the web font is available to use as an icon, a limited palette of colours can be applied to those icons, or an SVG or PNG image file can be used as an icon.</p>
        </section>
    
    <section class="key-stats-container">
                    <div class="key-stat">
                                <span class="key-stat-icon">
                    <i class="uod-icons uod-icons-facebook"></i>
                </span>
                                                <span class="key-stat-big-text">6<sub>M</sub></span>                <span class="key-stat-subtitle">a default icon colour is text-black (#333333)</span>                            </div>
                    <div class="key-stat">
                                <span class="key-stat-icon key-stat-icon-orange">
                    <i class="uod-icons uod-icons-pinterest"></i>
                </span>
                                                <span class="key-stat-big-text">70<sup>%</span>                <span class="key-stat-subtitle">apply an icon_colour to change the colour</span>                            </div>
                    <div class="key-stat">
                                                <span class="key-stat-image">
                    <img width="72" height="72" src="../../images/key-stats/instagram-logo.png" alt="icon" />
                </span>
                                <span class="key-stat-big-text">12<sup>%<sup></span>                <span class="key-stat-subtitle">use an image element if you need something custom</span>                            </div>
            </section>

</section>

    
