

<!-- Start: @key-stats--blue-icons -->
<p style="color:magenta;">Variant: Blue Icons</p><section class="key-stats">
            <section class="text-block" role="region"  aria-labelledby="research-description" >
    <h2 id="research-description">Research description</h2>            <p>The pathways have been used to develop an indicator that measures how connected to nature a person is. It’s hoped that this indicator will be adopted by national policy makers as a way of measuring the effects of interventions. The University led this work, alongside The Wildlife Trusts, National Trust, Natural England, RSPB, and Historic England.</p><p>The University led this work, alongside The Wildlife Trusts, National Trust, Natural England, RSPB, and Historic England.</p>
        </section>
    
    <section class="key-stats-container">
                    <div class="key-stat">
                                                <span class="key-stat-image">
                    <img width="72" height="72" src="../../images/key-stats/lightbulb-green-blue.svg" alt="icon" />
                </span>
                                <span class="key-stat-big-text">1000</span>                <span class="key-stat-subtitle">Written explanation of key statistic</span>                            </div>
                    <div class="key-stat">
                                                <span class="key-stat-image">
                    <img width="72" height="72" src="../../images/key-stats/lightbulb-green-blue.svg" alt="icon" />
                </span>
                                <span class="key-stat-big-text">2</span>                <span class="key-stat-subtitle">new cures for this problem found</span>                            </div>
                    <div class="key-stat">
                                                <span class="key-stat-image">
                    <img width="72" height="72" src="../../images/key-stats/lightbulb-green-blue.svg" alt="icon" />
                </span>
                                <span class="key-stat-big-text">300</span>                <span class="key-stat-subtitle">users were interviewed for positive results</span>                            </div>
            </section>

</section>
<!-- End: @key-stats--blue-icons -->

<!-- Start: @key-stats--red-icons -->
<p style="color:magenta;">Variant: Red Icons</p><section class="key-stats">
            <section class="text-block" role="region"  aria-labelledby="research-description" >
    <h2 id="research-description">Research description</h2>            <p>The pathways have been used to develop an indicator that measures how connected to nature a person is. It’s hoped that this indicator will be adopted by national policy makers as a way of measuring the effects of interventions. The University led this work, alongside The Wildlife Trusts, National Trust, Natural England, RSPB, and Historic England.</p><p>The University led this work, alongside The Wildlife Trusts, National Trust, Natural England, RSPB, and Historic England.</p>
        </section>
    
    <section class="key-stats-container">
                    <div class="key-stat">
                                                <span class="key-stat-image">
                    <img width="72" height="72" src="../../images/key-stats/lightbulb-strawberry.svg" alt="icon" />
                </span>
                                <span class="key-stat-big-text">88</span>                <span class="key-stat-subtitle">Written explanation of key statistic</span>                            </div>
                    <div class="key-stat">
                                                <span class="key-stat-image">
                    <img width="72" height="72" src="../../images/key-stats/lightbulb-strawberry.svg" alt="icon" />
                </span>
                                <span class="key-stat-big-text">2<sup>%</span>                <span class="key-stat-subtitle">new cures for this problem example of really small print note added*</span>                <span class="key-stat-footnote">*sample of study was 100 people</span>            </div>
            </section>

</section>
<!-- End: @key-stats--red-icons -->

<!-- Start: @key-stats--percentages -->
<p style="color:magenta;">Variant: Percentages</p><section class="key-stats">
            <section class="text-block" role="region"  aria-labelledby="research-description" >
    <h2 id="research-description">Research description</h2>            <p>The pathways have been used to develop an indicator that measures how connected to nature a person is. It’s hoped that this indicator will be adopted by national policy makers as a way of measuring the effects of interventions. The University led this work, alongside The Wildlife Trusts, National Trust, Natural England, RSPB, and Historic England.</p><p>The University led this work, alongside The Wildlife Trusts, National Trust, Natural England, RSPB, and Historic England.</p>
        </section>
    
    <section class="key-stats-container">
                    <div class="key-stat">
                                                <span class="key-stat-big-text">10<sup>%</sup></span>                <span class="key-stat-subtitle">Written explanation of key statistic</span>                            </div>
                    <div class="key-stat">
                                                <span class="key-stat-big-text">300<sup>%</span>                <span class="key-stat-subtitle">new cures for this problem found</span>                            </div>
                    <div class="key-stat">
                                                <span class="key-stat-big-text">300</span>                <span class="key-stat-subtitle">users were interviewed for positive results</span>                            </div>
            </section>

</section>
<!-- End: @key-stats--percentages -->

<!-- Start: @key-stats--number-variants -->
<p style="color:magenta;">Variant: Number Variants</p><section class="key-stats">
            <section class="text-block" role="region"  aria-labelledby="research-description" >
    <h2 id="research-description">Research description</h2>            <p>The pathways have been used to develop an indicator that measures how connected to nature a person is. It’s hoped that this indicator will be adopted by national policy makers as a way of measuring the effects of interventions. The University led this work, alongside The Wildlife Trusts, National Trust, Natural England, RSPB, and Historic England.</p><p>The University led this work, alongside The Wildlife Trusts, National Trust, Natural England, RSPB, and Historic England.</p>
        </section>
    
    <section class="key-stats-container">
                    <div class="key-stat">
                                                <span class="key-stat-big-text">10<sup>%</span>                <span class="key-stat-subtitle">Written explanation of key statistic underneath the number goes here</span>                            </div>
                    <div class="key-stat">
                                                <span class="key-stat-big-text">10<small>x</small></span>                <span class="key-stat-subtitle">the amount of sign ups than before launch</span>                            </div>
                    <div class="key-stat">
                                                <span class="key-stat-big-text">3<sub> in </sub>4</span>                <span class="key-stat-subtitle">students are employed within 6 months of course completion</span>                            </div>
            </section>

</section>
<!-- End: @key-stats--number-variants -->

<!-- Start: @key-stats--single-stat -->
<p style="color:magenta;">Variant: Single Stat</p><section class="key-stats">
            <section class="text-block" role="region"  aria-labelledby="research-description" >
    <h2 id="research-description">Research description</h2>            <p>The pathways have been used to develop an indicator that measures how connected to nature a person is. It’s hoped that this indicator will be adopted by national policy makers as a way of measuring the effects of interventions. The University led this work, alongside The Wildlife Trusts, National Trust, Natural England, RSPB, and Historic England.</p><p>The University led this work, alongside The Wildlife Trusts, National Trust, Natural England, RSPB, and Historic England.</p>
        </section>
    
    <section class="key-stats-container">
                    <div class="key-stat">
                                                <span class="key-stat-big-text">99<sup>%</span>                <span class="key-stat-subtitle">Written explanation of key statistic underneath the number goes here</span>                            </div>
            </section>

</section>
<!-- End: @key-stats--single-stat -->

<!-- Start: @key-stats--icons -->
<p style="color:magenta;">Variant: Icons</p><section class="key-stats">
            <section class="text-block" role="region"  aria-labelledby="custom-icons" >
    <h2 id="custom-icons">Custom icons</h2>            <p>Any icon available in the web font is available to use as an icon, a limited palette of colours can be applied to those icons, or an SVG or PNG image file can be used as an icon.</p>
        </section>
    
    <section class="key-stats-container">
                    <div class="key-stat">
                                <span class="key-stat-icon">
                    <i class="uod-icons uod-icons-facebook"></i>
                </span>
                                                <span class="key-stat-big-text">6<sub>M</sub></span>                <span class="key-stat-subtitle">a default icon colour is text-black (#333333)</span>                            </div>
                    <div class="key-stat">
                                <span class="key-stat-icon key-stat-icon-orange">
                    <i class="uod-icons uod-icons-pinterest"></i>
                </span>
                                                <span class="key-stat-big-text">70<sup>%</span>                <span class="key-stat-subtitle">apply an icon_colour to change the colour</span>                            </div>
                    <div class="key-stat">
                                                <span class="key-stat-image">
                    <img width="72" height="72" src="../../images/key-stats/instagram-logo.png" alt="icon" />
                </span>
                                <span class="key-stat-big-text">12<sup>%<sup></span>                <span class="key-stat-subtitle">use an image element if you need something custom</span>                            </div>
            </section>

</section>
<!-- End: @key-stats--icons -->

<!-- Start: @key-stats--formatting -->
<p style="color:magenta;">Variant: Formatting</p><section class="key-stats">
            <section class="text-block" role="region"  aria-labelledby="text-formatting" >
    <h2 id="text-formatting">Text formatting</h2>            <p>Additional markup can be applied to improve the appearance of statistic, but it has to be applied on an individual basis to each item, to give maximum flexibility.</p>
        </section>
    
    <section class="key-stats-container">
                    <div class="key-stat">
                                                <span class="key-stat-big-text">10,000</span>                <span class="key-stat-subtitle">any text is large by default</span>                            </div>
                    <div class="key-stat">
                                                <span class="key-stat-big-text">10<sub>k</sub></span>                <span class="key-stat-subtitle">use &lt;sub&gt; tags to make numbers small</span>                            </div>
                    <div class="key-stat">
                                                <span class="key-stat-big-text">3<small> in</small>10</span>                <span class="key-stat-subtitle">use &lt;small&gt; tags to make words smaller</span>                            </div>
                    <div class="key-stat">
                                                <span class="key-stat-big-text">1<sup>%</sup></span>                <span class="key-stat-subtitle">use &lt;sup&gt; tags to pull characters to the top of the text</span>                            </div>
                    <div class="key-stat">
                                                <span class="key-stat-big-text">X <small>X</small> <sub>X</sub> <sup>X</sup></span>                <span class="key-stat-subtitle">default, small, subscript, superscript</span>                            </div>
            </section>

</section>
<!-- End: @key-stats--formatting -->

