

<section class="landing-page-links landing-page-links-zigzag">
        <div class="landing-page-links-inner">
        <div class="landing-page-links-items">
                            <div class="landing-page-links-item">
                    <a href="#" class="landing-page-links-item-a">
                        <img src="../../images/landing-page-links-demo/UG19Prosp-Keyvis-390.jpg" alt="" class="landing-page-links-item-img">
                        <div class="landing-page-links-item-details">
                            <h3 class="landing-page-links-item-title">Applying</h3>
                            <div class="landing-page-links-item-text">
                                <p>Use our university course finder to get details of foundation, undergraduate, postgraduate, professional, masters, joint honours and research courses.</p>
                            </div>
                        </div>
                    </a>
                </div>
                    </div>
        <div class="landing-page-links-pattern-background"></div>
    </div>
</section>


