

<section class="media-embed">
    <figure class="media-embed-fig">
        <a class="media-embed-a" data-attr-iframe-max-width="100%" href="https://www.youtube.com/watch?v=Tj2dbHofw4I">
            <img class="media-embed-img" src="../../images/media-embed-demo/Light-and-sound-engineering-Youtube-image.jpg" data-sizes="(min-width: 40em) 80vw, 100vw" alt="Entertainment Engineering at the University of Derby" />
                            <i class="uod-icons uod-icons-right-navigation"></i>
                    </a>
    </figure>
</section>

