

<div class="main-navigation-panel">
    <div class="main-navigation-panel-content">
        <div class="main-navigation-close">
            <a href="#">
                <i class="uod-icons uod-icons-cross"></i>
            </a>
        </div>
        <div class="main-navigation-desktop">
                                                                        <div id="menu-study" class="main-navigation-desktop-content main-navigation-panel-hidden">
                    <div class="main-navigation-title">
                        <h3>Study</h3>
                    </div>
                    <nav class="main-navigation">
                        <div class="main-navigation-principle-menu">
                            <ul>
                                                                <li>
                                    <a href="#">
                                        <h6>Undergraduate</h6>
                                        <p>Find everything you need on undergraduating studying</p>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <h6>Postgraduate</h6>
                                        <p>Find everything you need on undergraduating studying Nick to write more text</p>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <h6>Online</h6>
                                        <p>Find everything you need on undergraduating studying</p>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <h6>Short courses</h6>
                                        <p>Find everything you need on undergraduating studying</p>
                                    </a>
                                </li>
                                                            </ul>
                        </div>
                        <div class="main-navigation-secondary-menu">
                                                        <ul>
                                                                <li>
                                    <a href="#">
                                        <h6>Facilities</h6>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <h6>Fees and Finance</h6>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <h6>Student support</h6>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <h6>International</h6>
                                    </a>
                                </li>
                                                            </ul>
                                                                                </div>
                        <div class="main-navigation-actions-menu">
                                                    <div class="main-navigation-actions-menu-panel">
                                <h5>Book an open day</h5>
                                <p>Come and have a look around at one of our open days, wherre you can chat to the lecturers and view facilties.</p>
                                <a href="#" class="button-yellow" role="button" tabindex="0" data-scroll>
        Book an open day
            <span class="button-overlay"><span>
                        Book an open day
                    </span></span></a>                            </div>
                                                    </div>
                    </nav>
                </div>
                                    </div>
        <div class="main-navigation-mobile">
            <div class="main-navigation-inner-panel">
                                                                        <a href="#" class="main-navigation-mobile-link">Course Search</a>
                                                                                                                                                        
                                    <section class="accordion accordion-scheme-dark">
            <div class="accordion-tablist" role="tablist">
                <div class="accordion-tab">
            <a id="study-label" href="#study" class="accordion-tab-title-container collapse-toggle"
                data-collapse  data-group=""                 role="tab" aria-expanded="false" aria-controls="study">
                <h4 class="accordion-tab-title">
                    Study
                    <span class="accordion-tab-title-indicator">
                        <i class="uod-icons uod-icons-chevron-down"></i>
                    </span>
                </h4>
            </a>
            <div id="study" class="accordion-tab-content collapse" role="tabpanel" aria-labelledby="study-label">
                <div class="accordion-tab-content-inner">
                                            <div class="main-navigation-principle-menu">
                            <ul>
                                                                <li>
                                    <a href="#">
                                        <h6>Undergraduate</h6>
                                        <p>Find everything you need on undergraduating studying</p>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <h6>Postgraduate</h6>
                                        <p>Find everything you need on undergraduating studying Nick to write more text</p>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <h6>Online</h6>
                                        <p>Find everything you need on undergraduating studying</p>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <h6>Short courses</h6>
                                        <p>Find everything you need on undergraduating studying</p>
                                    </a>
                                </li>
                                                            </ul>
                        </div>
                        <div class="main-navigation-secondary-menu">
                                                        <ul>
                                                                <li>
                                    <a href="#">
                                        <h6>Facilities</h6>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <h6>Fees and Finance</h6>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <h6>Student support</h6>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <h6>International</h6>
                                    </a>
                                </li>
                                                            </ul>
                                                                                </div>
                        <div class="main-navigation-actions-menu">
                                                    <div class="main-navigation-actions-menu-panel">
                                <a href="#" class="button-yellow" role="button" tabindex="0" data-scroll>
        Book an open day
            <span class="button-overlay"><span>
                        Book an open day
                    </span></span></a>                            </div>
                                                    </div>
                    
                </div>
            </div>
        </div>
            </div>
</section>
                            </div>
        </div>
    </div>
</div>

