

<div class="main-navigation-panel">
    <div class="main-navigation-panel-content">
        <div class="main-navigation-close">
            <a href="#">
                <i class="uod-icons uod-icons-cross"></i>
            </a>
        </div>
        <div class="main-navigation-desktop">
                                            <div id="menu-business-services" class="main-navigation-desktop-content main-navigation-panel-hidden">
                    <div class="main-navigation-title">
                        <h3>Business Services</h3>
                    </div>
                    <nav class="main-navigation">
                        <div class="main-navigation-principle-menu">
                            <ul>
                                                                <li>
                                    <a href="#">
                                        <h6>What we offer</h6>
                                        <p>Find everything you need on undergraduating studying</p>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <h6>Hire a room</h6>
                                        <p>Find everything you need on undergraduating studying Nick to write more text</p>
                                    </a>
                                </li>
                                                            </ul>
                        </div>
                        <div class="main-navigation-secondary-menu">
                                                                                        <div class="main-navigation-case-studies-title">Feature Case Study</div>
                                                                <a href="">
                                    <h6>On the right track with National Rail</h6>
                                    <p>Network Rail asked us to upskill its overhead line technicians. creating a more knowledgable, better-informed and better-enagged maintenance.</p>
                                </a>
                                                                                    </div>
                        <div class="main-navigation-actions-menu">
                                                    <div class="main-navigation-actions-menu-panel">
                                <h5>Book an open day</h5>
                                <p>Come and have a look around at one of our open days, wherre you can chat to the lecturers and view facilties.</p>
                                <a href="#" class="button-yellow" role="button" tabindex="0" data-scroll>
        Book an open day
            <span class="button-overlay"><span>
                        Book an open day
                    </span></span></a>                            </div>
                                                    </div>
                    </nav>
                </div>
                                    </div>
        <div class="main-navigation-mobile">
            <div class="main-navigation-inner-panel">
                                                                                                                                                    
                                    <section class="accordion accordion-scheme-dark">
            <div class="accordion-tablist" role="tablist">
                <div class="accordion-tab">
            <a id="business-services-label" href="#business-services" class="accordion-tab-title-container collapse-toggle"
                data-collapse  data-group=""                 role="tab" aria-expanded="false" aria-controls="business-services">
                <h4 class="accordion-tab-title">
                    Business Services
                    <span class="accordion-tab-title-indicator">
                        <i class="uod-icons uod-icons-chevron-down"></i>
                    </span>
                </h4>
            </a>
            <div id="business-services" class="accordion-tab-content collapse" role="tabpanel" aria-labelledby="business-services-label">
                <div class="accordion-tab-content-inner">
                                            <div class="main-navigation-principle-menu">
                            <ul>
                                                                <li>
                                    <a href="#">
                                        <h6>What we offer</h6>
                                        <p>Find everything you need on undergraduating studying</p>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <h6>Hire a room</h6>
                                        <p>Find everything you need on undergraduating studying Nick to write more text</p>
                                    </a>
                                </li>
                                                            </ul>
                        </div>
                        <div class="main-navigation-secondary-menu">
                                                                                    <div class="main-navigation-case-studies">
                                <div class="main-navigation-case-studies-title">Feature Case Study</div>
                                                                <a href="">
                                    <h6>On the right track with National Rail</h6>
                                    <p>Network Rail asked us to upskill its overhead line technicians. creating a more knowledgable, better-informed and better-enagged maintenance.</p>
                                </a>
                                                            </div>
                                                    </div>
                        <div class="main-navigation-actions-menu">
                                                    <div class="main-navigation-actions-menu-panel">
                                <a href="#" class="button-yellow" role="button" tabindex="0" data-scroll>
        Book an open day
            <span class="button-overlay"><span>
                        Book an open day
                    </span></span></a>                            </div>
                                                    </div>
                    
                </div>
            </div>
        </div>
            </div>
</section>
                            </div>
        </div>
    </div>
</div>

