

<div class="open-day-promo-container">
    <section class="open-day-promo">
        <div class="open-day-promo-backdrop open-day-promo-pattern open-day-promo-pattern-diagonal">
            <div class="open-day-promo-pattern-background" role="presentation"></div>
            <div class="open-day-promo-image-container">
                <img src="../../images/UG19Prosp-Keyvis-142.jpg" alt="Footballer" />            </div>
        </div>
        <div class="open-day-promo-panel">
            <div class="open-day-promo-panel-inner">
                <h3>Book an Open Day</h3>
                <ul class="open-days-list">
                                        <li class="open-days-listitem">
                        <a href="#" class="open-days-list-link">
                            <div class="open-days-list-month">
                                Jan
                            </div>
                            <div class="open-days-list-details">
                                <div class="open-days-list-day">
                                    10
                                </div>
                                <div class="open-days-list-label">
                                    Undergraduate, Buxton Campus only
                                </div>
                                <div class="open-days-list-arrow">
                                    <i class="uod-icons uod-icons-up-arrow"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                                        <li class="open-days-listitem">
                        <a href="#" class="open-days-list-link">
                            <div class="open-days-list-month">
                                Jan
                            </div>
                            <div class="open-days-list-details">
                                <div class="open-days-list-day">
                                    13
                                </div>
                                <div class="open-days-list-label">
                                    Undergraduate, Buxton Campus only
                                </div>
                                <div class="open-days-list-arrow">
                                    <i class="uod-icons uod-icons-up-arrow"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                                        <li class="open-days-listitem">
                        <a href="#" class="open-days-list-link">
                            <div class="open-days-list-month">
                                Jan
                            </div>
                            <div class="open-days-list-details">
                                <div class="open-days-list-day">
                                    24
                                </div>
                                <div class="open-days-list-label">
                                    Undergraduate, Derby and Buxton Campuses
                                </div>
                                <div class="open-days-list-arrow">
                                    <i class="uod-icons uod-icons-up-arrow"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                                    </ul>
                                <a href="#" class="button-yellow button-large" role="button" tabindex="0" data-scroll>
        View more dates
            <span class="button-overlay"><span>
                        View more dates
                    </span></span></a>                            </div>
        </div>
    </section>
</div>

