

<div class="popular-searches">
    <section class="popular-searches-group">
        <h6>Popular searches</h6>
        <div class="popular-searches-item">
            <ul>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 2</a></li>
                            <li><a href="#">Link three has a lot of text</a></li>
                            <li><a href="#">Link 4 text goes here</a></li>
                            <li><a href="#">Finally, Link 5</a></li>
                        </ul>
        </div>
    </section>
</div>

