

<section class="form-wrapper">
    <h2>Order your undergraduate prospectus</h2>
    <p>Add intro text here.</p>
    <p><span class="req"> * </span>Indicates a required field</p>
    <form class="form-ui" action="#" novalidate>

        <header id="header" class="info">
            <h2>Order your undergraduate prospectus</h2>
            <div>Optional description text for the whole form.</div>
        </header>

        <ul>
            <li class="section first">
                <section>
                <h3>About you</h3>
                </section>
            </li>

            <li>
                <label class="desc">First name<span class="req"> * </span></label>
                <div>
                    <input class="field text large" type="text" maxlength="255" placeholder="Enter first name" />
                </div>
            </li>

            <li>
                <label class="desc">Last name<span class="req"> * </span></label>
                <div>
                    <input class="field text large" type="text" maxlength="255" placeholder="Enter last name" />
                </div>
            </li>

            <li>
                <label class="desc">Email address<span class="req"> * </span></label>
                <div>
                    <input class="field text large" type="email" maxlength="255" placeholder="Enter email address" />
                </div>
            </li>

            <li class="section">
                <section>
                    <h4>Address</h4>
                </section>
            </li>

            <li>
                <label class="desc">Address line 1<span class="req"> * </span></label>
                <div>
                    <input class="field text large" type="text" maxlength="255" placeholder="Enter address line 1" />
                </div>
            </li>

            <li>
                <label class="desc">Address line 2</label>
                <div>
                    <input class="field text large" type="text" maxlength="255" placeholder="Optional" />
                </div>
            </li>

            <li>
                <label class="desc">Town / city<span class="req"> * </span></label>
                <div>
                    <input class="field text large" type="text" maxlength="255" placeholder="Enter town or city" />
                </div>
            </li>

            <li>
                <label class="desc">County<span class="req"> * </span></label>
                <div>
                    <select class="select">
                        <option value="PLS">Please select</option>
                        <option value="ABC">Aberdeen City</option>
                        <option value="ABS">Aberdeenshire</option>
                        <option value="ANG">Angus</option>
                        <option value="ANT">Antrim</option>
                        <option value="ARD">Ards</option>
                        <option value="ARG">Argyll and Bute</option>
                        <option value="ARM">Armagh</option>
                        <option value="BLA">Ballymena</option>
                        <option value="BLY">Ballymoney</option>
                        <option value="BNB">Banbridge</option>
                        <option value="BEDS">Bedfordshire</option>
                        <option value="BFS">Belfast</option>
                        <option value="BERKS">Berkshire</option>
                        <option value="BORDER">Borders Region</option>
                        <option value="BRIST">Bristol</option>
                        <option value="BUCKS">Buckinghamshire</option>
                        <option value="CAMBS">Cambridgeshire</option>
                        <option value="CFK">Carrickfergus</option>
                        <option value="CSR">Castlereagh</option>
                        <option value="CENT">Central Region</option>
                        <option value="CHL IS">Channel Is</option>
                        <option value="CHES">Cheshire</option>
                        <option value="CEB">City of Edinburgh</option>
                        <option value="CMS">Clackmannanshire</option>
                        <option value="CLWYD">Clwyd</option>
                        <option value="CLR">Coleraine</option>
                        <option value="CKT">Cookstown</option>
                        <option value="CNWLL">Cornwall</option>
                        <option value="CGV">Craigavon</option>
                        <option value="CUMB">Cumbria</option>
                        <option value="DERBY">Derbyshire</option>
                        <option value="DRY">Derry</option>
                        <option value="DEVON">Devon</option>
                        <option value="DORSET">Dorset</option>
                        <option value="DOW">Down</option>
                        <option value="D&amp;G">Dumfries &amp; Galloway Region</option>
                        <option value="DDC">Dundee City</option>
                        <option value="DGN">Dungannon</option>
                        <option value="DUR">Durham</option>
                        <option value="DYFED">Dyfed</option>
                        <option value="EAY">East Ayrshire</option>
                        <option value="EDB">East Dunbartonshire</option>
                        <option value="ELT">East Lothian</option>
                        <option value="ERF">East Renfrewshire</option>
                        <option value="E YORK">East Riding of Yorkshire</option>
                        <option value="E.SUSX">East Sussex</option>
                        <option value="ESSEX">Essex</option>
                        <option value="FAL">Falkirk</option>
                        <option value="FER">Fermanagh</option>
                        <option value="FIFE">Fife Region</option>
                        <option value="GLC">Glasgow City</option>
                        <option value="GLOUCS">Gloucestershire</option>
                        <option value="GRAMP">Grampian Region</option>
                        <option value="GT LON">Greater London</option>
                        <option value="GT MAN">Greater Manchester</option>
                        <option value="GWENT">Gwent</option>
                        <option value="GWYND">Gwynedd</option>
                        <option value="HANTS">Hampshire</option>
                        <option value="HFORD">Herefordshire</option>
                        <option value="HERTS">Hertfordshire</option>
                        <option value="HIGHLD">Highland Region</option>
                        <option value="INV">Inverclyde</option>
                        <option value="IOM">Isle of Man</option>
                        <option value="IOW">Isle of Wight</option>
                        <option value="IOS">Isles of Scilly</option>
                        <option value="KENT">Kent</option>
                        <option value="LANCS">Lancashire</option>
                        <option value="LRN">Larne</option>
                        <option value="LEICS">Leicestershire</option>
                        <option value="LMV">Limavady</option>
                        <option value="LINCS">Lincolnshire</option>
                        <option value="LSB">Lisburn</option>
                        <option value="LOTH">Lothian Region</option>
                        <option value="MFT">Magherafelt</option>
                        <option value="MERSYD">Merseyside</option>
                        <option value="M GLAM">Mid Glamorgan</option>
                        <option value="MDDSX">Middlesex</option>
                        <option value="MOR">Moray</option>
                        <option value="MYL">Moyle</option>
                        <option value="NYM">Newry and Mourne</option>
                        <option value="NTA">Newtownabbey</option>
                        <option value="NORFLK">Norfolk</option>
                        <option value="NAY">North Ayrshire</option>
                        <option value="NDN">North Down</option>
                        <option value="NLN">North Lanarkshire</option>
                        <option value="N YORK">North Yorkshire</option>
                        <option value="NHANTS">Northamptonshire</option>
                        <option value="NTHUMB">Northumberland</option>
                        <option value="NOTTS">Nottinghamshire</option>
                        <option value="OMH">Omagh</option>
                        <option value="ORK">Orkney Is</option>
                        <option value="OXON">Oxfordshire</option>
                        <option value="PER">Perth and Kinross</option>
                        <option value="POWYS">Powys</option>
                        <option value="REN">Renfrewshire</option>
                        <option value="RUTLND">Rutland</option>
                        <option value="SHET">Shetland Is</option>
                        <option value="SHROPS">Shropshire</option>
                        <option value="SOMER">Somerset</option>
                        <option value="SAY">South Ayrshire</option>
                        <option value="S GLAM">South Glamorgan</option>
                        <option value="SLN">South Lanarkshire</option>
                        <option value="SYORKS">South Yorkshire</option>
                        <option value="STAFFS">Staffordshire</option>
                        <option value="STI">Stirling</option>
                        <option value="STB">Strabane</option>
                        <option value="STRATH">Strathclyde Region</option>
                        <option value="SUFFK">Suffolk</option>
                        <option value="SURREY">Surrey</option>
                        <option value="TAYS">Tayside Region</option>
                        <option value="T&amp;W">Tyne &amp; Wear</option>
                        <option value="WARWKS">Warwickshire</option>
                        <option value="WDB">West Dunbartonshire</option>
                        <option value="W GLAM">West Glamorgan</option>
                        <option value="WLT">West Lothian</option>
                        <option value="WSTMID">West Midlands</option>
                        <option value="W SUSX">West Sussex</option>
                        <option value="WYORKS">West Yorkshire</option>
                        <option value="W ISLS">Western Isles</option>
                        <option value="WILTS">Wiltshire</option>
                        <option value="WOR">Worcestershire</option>
                    </select>
                </div>
            </li>

            <li>
                <label class="desc">Country<span class="req"> * </span></label>
                <div>
                    <select class="select">
                        <option value="PLS">Please select</option>
                        <option value="GBR">United Kingdom</option>
                        <option value="AFG">Afghanistan</option>
                        <option value="ALA">Aland Islands</option>
                        <option value="ALB">Albania</option>
                        <option value="DZA">Algeria</option>
                        <option value="ASM">American Samoa</option>
                        <option value="AND">Andorra</option>
                        <option value="AGO">Angola</option>
                        <option value="AIA">Anguilla</option>
                        <option value="ATA">Antarctica</option>
                        <option value="ATG">Antigua and Barbuda</option>
                        <option value="ARG">Argentina</option>
                        <option value="ARM">Armenia</option>
                        <option value="ABW">Aruba</option>
                        <option value="AUS">Australia</option>
                        <option value="AUT">Austria</option>
                        <option value="AZE">Azerbaijan</option>
                        <option value="BHS">Bahamas</option>
                        <option value="BHR">Bahrain</option>
                        <option value="BGD">Bangladesh</option>
                        <option value="BRB">Barbados</option>
                        <option value="BLR">Belarus</option>
                        <option value="BEL">Belgium</option>
                        <option value="BLZ">Belize</option>
                        <option value="BEN">Benin</option>
                        <option value="BMU">Bermuda</option>
                        <option value="BTN">Bhutan</option>
                        <option value="BOL">Bolivia</option>
                        <option value="BIH">Bosnia and Herzegovina</option>
                        <option value="BWA">Botswana</option>
                        <option value="BVT">Bouvet Island</option>
                        <option value="BRA">Brazil</option>
                        <option value="IOT">British Indian Ocean Territory</option>
                        <option value="BRN">Brunei Darussalam</option>
                        <option value="BGR">Bulgaria</option>
                        <option value="BFA">Burkina Faso</option>
                        <option value="MMR">Burma</option>
                        <option value="BDI">Burundi</option>
                        <option value="KHM">Cambodia</option>
                        <option value="CMR">Cameroon</option>
                        <option value="CAN">Canada</option>
                        <option value="IC">Canary Islands</option>
                        <option value="CPV">Cape Verde</option>
                        <option value="XW">Carribean</option>
                        <option value="CYM">Cayman Islands</option>
                        <option value="CAF">Central African Republic</option>
                        <option value="TCD">Chad</option>
                        <option value="CHA">Channel Isles</option>
                        <option value="CHL">Chile</option>
                        <option value="CHN">China</option>
                        <option value="CXR">Christmas Island</option>
                        <option value="CCK">Cocos (Keeling) Islands</option>
                        <option value="COL">Colombia</option>
                        <option value="COM">Comoros</option>
                        <option value="COG">Congo</option>
                        <option value="COD">Congo, The Democratic Republic</option>
                        <option value="COK">Cook Islands</option>
                        <option value="CRI">Costa Rica</option>
                        <option value="CIV">Cote D'Ivoire</option>
                        <option value="HRV">Croatia</option>
                        <option value="CUB">Cuba</option>
                        <option value="CYP">Cyprus</option>
                        <option value="XA">Cyprus (European Union)</option>
                        <option value="XB">Cyprus (Non European Union)</option>
                        <option value="CZE">Czech Republic</option>
                        <option value="DNK">Denmark</option>
                        <option value="DJI">Djibouti</option>
                        <option value="DMA">Dominica</option>
                        <option value="DOM">Dominican Republic</option>
                        <option value="TMP">East Timor</option>
                        <option value="ECU">Ecuador</option>
                        <option value="EGY">Egypt</option>
                        <option value="SLV">El Salvador</option>
                        <option value="GNQ">Equatorial Guinea</option>
                        <option value="ERI">Eritrea</option>
                        <option value="EST">Estonia</option>
                        <option value="ETH">Ethiopia</option>
                        <option value="FLK">Falkland Islands (Malvinas)</option>
                        <option value="FRO">Faroe Islands</option>
                        <option value="FJI">Fiji</option>
                        <option value="FIN">Finland</option>
                        <option value="FRA">France</option>
                        <option value="GUF">French Guiana</option>
                        <option value="PYF">French Polynesia</option>
                        <option value="ATF">French Southern Territories</option>
                        <option value="GAB">Gabon</option>
                        <option value="GMB">Gambia</option>
                        <option value="GEO">Georgia</option>
                        <option value="DEU">Germany</option>
                        <option value="GHA">Ghana</option>
                        <option value="GIB">Gibraltar</option>
                        <option value="GRC">Greece</option>
                        <option value="GRL">Greenland</option>
                        <option value="GRD">Grenada</option>
                        <option value="GLP">Guadeloupe</option>
                        <option value="GUM">Guam</option>
                        <option value="GTM">Guatemala</option>
                        <option value="GIN">Guinea</option>
                        <option value="GNB">Guinea-Bissau</option>
                        <option value="GUY">Guyana</option>
                        <option value="HTI">Haiti</option>
                        <option value="HMD">Heard and McDonald Islands</option>
                        <option value="VAT">Holy See (Vatican City State)</option>
                        <option value="HND">Honduras</option>
                        <option value="HKG">Hong Kong</option>
                        <option value="HUN">Hungary</option>
                        <option value="ISL">Iceland</option>
                        <option value="IND">India</option>
                        <option value="IDN">Indonesia</option>
                        <option value="IRN">Iran</option>
                        <option value="IRQ">Iraq</option>
                        <option value="IRL">Ireland</option>
                        <option value="ISR">Israel</option>
                        <option value="ITA">Italy</option>
                        <option value="JAM">Jamaica</option>
                        <option value="JPN">Japan</option>
                        <option value="JOR">Jordan</option>
                        <option value="KAZ">Kazakhstan</option>
                        <option value="KEN">Kenya</option>
                        <option value="KIR">Kiribati</option>
                        <option value="KOR">Korea, Republic of</option>
                        <option value="KWT">Kuwait</option>
                        <option value="KGZ">Kyrgyzstan</option>
                        <option value="LAO">Lao People's Democratic Rep</option>
                        <option value="LVA">Latvia</option>
                        <option value="LBN">Lebanon</option>
                        <option value="LSO">Lesotho</option>
                        <option value="LBR">Liberia</option>
                        <option value="LBY">Libyan Arab Jamahiriya</option>
                        <option value="LIE">Liechtenstein</option>
                        <option value="LTU">Lithuania</option>
                        <option value="LUX">Luxembourg</option>
                        <option value="MAC">Macao</option>
                        <option value="MKD">Macedonia</option>
                        <option value="MDG">Madagascar</option>
                        <option value="MWI">Malawi</option>
                        <option value="MYS">Malaysia</option>
                        <option value="MDV">Maldives</option>
                        <option value="MLI">Mali</option>
                        <option value="MLT">Malta</option>
                        <option value="MHL">Marshall Islands</option>
                        <option value="MTQ">Martinique</option>
                        <option value="MRT">Mauritania</option>
                        <option value="MUS">Mauritius</option>
                        <option value="MYT">Mayotte</option>
                        <option value="MEX">Mexico</option>
                        <option value="FSM">Micronesia, Federated States</option>
                        <option value="MDA">Moldova, Republic of</option>
                        <option value="MCO">Monaco</option>
                        <option value="MNG">Mongolia</option>
                        <option value="MSR">Montserrat</option>
                        <option value="MAR">Morocco</option>
                        <option value="MOZ">Mozambique</option>
                        <option value="NAM">Namibia</option>
                        <option value="NRU">Nauru</option>
                        <option value="NPL">Nepal</option>
                        <option value="NLD">Netherlands</option>
                        <option value="ANT">Netherlands Antilles</option>
                        <option value="NCL">New Caledonia</option>
                        <option value="NZL">New Zealand</option>
                        <option value="NIC">Nicaragua</option>
                        <option value="NER">Niger</option>
                        <option value="NGA">Nigeria</option>
                        <option value="NIU">Niue</option>
                        <option value="NFK">Norfolk Island</option>
                        <option value="MNP">Northern Mariana Islands</option>
                        <option value="NOR">Norway</option>
                        <option value="OMN">Oman</option>
                        <option value="PAK">Pakistan</option>
                        <option value="PLW">Palau</option>
                        <option value="PAN">Panama</option>
                        <option value="PNG">Papua New Guinea</option>
                        <option value="PER">Peru</option>
                        <option value="PHL">Philippines</option>
                        <option value="PCN">Pitcairn</option>
                        <option value="POL">Poland</option>
                        <option value="PRT">Portugal</option>
                        <option value="PRI">Puerto Rico</option>
                        <option value="MNE">Republic of Montenegro</option>
                        <option value="SRB">Republic of Serbia</option>
                        <option value="REU">Reunion</option>
                        <option value="ROM">Romania</option>
                        <option value="RUS">Russian Federation</option>
                        <option value="RWA">Rwanda</option>
                        <option value="BLM">Saint Barthelemy</option>
                        <option value="SHN">Saint Helena</option>
                        <option value="KNA">Saint Kitts and Nevis</option>
                        <option value="LCA">Saint Lucia</option>
                        <option value="MAF">Saint Martin</option>
                        <option value="SPM">Saint Pierre and Miquelon</option>
                        <option value="WSM">Samoa</option>
                        <option value="SMR">San Marino</option>
                        <option value="STP">Sao Tome and Principe</option>
                        <option value="SAU">Saudi Arabia</option>
                        <option value="SEN">Senegal</option>
                        <option value="SYC">Seychelles</option>
                        <option value="SLE">Sierra Leone</option>
                        <option value="SGP">Singapore</option>
                        <option value="SVK">Slovakia</option>
                        <option value="SVN">Slovenia</option>
                        <option value="SLB">Solomon Islands</option>
                        <option value="SOM">Somalia</option>
                        <option value="ZAF">South Africa</option>
                        <option value="ESP">Spain</option>
                        <option value="LKA">Sri Lanka</option>
                        <option value="VCT">St Vincent and the Grenadines</option>
                        <option value="SGS">Sth Georgia and Sandwich Is</option>
                        <option value="SDN">Sudan</option>
                        <option value="SUR">Suriname</option>
                        <option value="SJM">Svalbard and Jan Mayen</option>
                        <option value="SWZ">Swaziland</option>
                        <option value="SWE">Sweden</option>
                        <option value="CHE">Switzerland</option>
                        <option value="SYR">Syrian Arab Republic</option>
                        <option value="TWN">Taiwan, Province of China</option>
                        <option value="TJK">Tajikistan</option>
                        <option value="TZA">Tanzania, United Republic of</option>
                        <option value="THA">Thailand</option>
                        <option value="TGO">Togo</option>
                        <option value="TKL">Tokelau</option>
                        <option value="TON">Tonga</option>
                        <option value="TTO">Trinidad and Tobago</option>
                        <option value="TUN">Tunisia</option>
                        <option value="TUR">Turkey</option>
                        <option value="TKM">Turkmenistan</option>
                        <option value="TCA">Turks and Caicos Islands</option>
                        <option value="TUV">Tuvalu</option>
                        <option value="UMI">US Minor Outlying Islands</option>
                        <option value="UGA">Uganda</option>
                        <option value="UKR">Ukraine</option>
                        <option value="ARE">United Arab Emirates</option>
                        <option value="USA">United States</option>
                        <option value="URY">Uruguay</option>
                        <option value="UZB">Uzbekistan</option>
                        <option value="VUT">Vanuatu</option>
                        <option value="VEN">Venezuela</option>
                        <option value="VNM">Vietnam</option>
                        <option value="VGB">Virgin Islands (British)</option>
                        <option value="VIR">Virgin Islands (U.S.)</option>
                        <option value="WLF">Wallis and Futuna Islands</option>
                        <option value="ESH">Western Sahara</option>
                        <option value="YEM">Yemen</option>
                        <option value="YUG">Yugoslavia</option>
                        <option value="ZAR">ZAIRE</option>
                        <option value="ZMB">Zambia</option>
                        <option value="ZWE">Zimbabwe</option>
                    </select>
                </div>
            </li>

            <li>
                <label class="desc">Postcode<span class="req"> * </span></label>
                <div>
                    <input class="field text medium" type="text" maxlength="255" placeholder="Enter postcode" />
                </div>
            </li>

            <li>
                <label class="desc">Telephone</label>
                <div>
                    <input class="field text medium" type="text" maxlength="255" placeholder="Optional" />
                </div>
            </li>

            <li class="section">
                <section>
                    <h3>Study of interest</h3>
                </section>
            </li>

            <li class="section">
                <section>
                    <h4>Subjects</h4>
                    <div>Please choose up to three subjects that you are interested in studying.</div>
                </section>
            </li>

            <li>
                <label class="desc">Subject 1</label>
                <div>
                    <select class="select subject-select" id="subject-1">
                        <option value="">Please select</option>
                        <option value="UGACC">Accounting</option>
                        <option value="UGARCH">Architecture, Architectural Technologies and Interior Design</option>
                        <option value="UGART">Art and Design</option>
                    </select>
                </div>
            </li>

            <li>
                <label class="desc">Subject 2</label>
                <div>
                    <select class="select subject-select" id="subject-2">
                        <option value="">Please select</option>
                        <option value="UGACC">Accounting</option>
                        <option value="UGARCH">Architecture, Architectural Technologies and Interior Design</option>
                        <option value="UGART">Art and Design</option>
                    </select>
                </div>
            </li>

            <li>
                <label class="desc">Subject 3</label>
                <div>
                    <select class="select subject-select" id="subject-3">
                        <option value="">Please select</option>
                        <option value="UGACC">Accounting</option>
                        <option value="UGARCH">Architecture, Architectural Technologies and Interior Design</option>
                        <option value="UGART">Art and Design</option>
                    </select>
                </div>
            </li>

            <li>
                <label class="desc">When are you thinking of starting?</label>
                <div>
                    <select class="select">
                        <option value="">Please select</option>
                        <option value="">2018</option>
                        <option value="">2019</option>
                    </select>
                </div>
            </li>

            <li class="full">
                <p>We would really like to keep in touch with you after you have received your prospectus. If you would like to receive relevant messages about the University, and about the subjects you’re interested in, please opt-in below. <a href="">Show me some examples</a>.</p>
            </li>

            <li class="notStacked full">
                <fieldset>
                <legend class="desc">Would you like to receive marketing emails from the University of Derby?<span class="req"> * </span></legend>
                <div class="col">
                    <span>
                    <input class="field radio" name="email_comms" type="radio" value="yes" id="email_comms_yes" />
                    <label class="choice" for="email_comms_yes">Yes</label>
                    </span>
                    <span>
                    <input class="field radio" name="email_comms" type="radio" value="no" id="email_comms_no"/>
                    <label class="choice" for="email_comms_no">No</label>
                    </span>
                </div>
                </fieldset>
            </li>

            <li class="notStacked full">
                <fieldset>
                <legend class="desc">Would you like to receive marketing post from the University of Derby?<span class="req"> * </span></legend>
                <div class="col">
                    <span>
                    <input class="field radio" name="post_comms" type="radio" value="yes" id="post_comms_yes" />
                    <label class="choice" for="post_comms_yes">Yes</label>
                    </span>
                    <span>
                    <input class="field radio" name="post_comms" type="radio" value="no" id="post_comms_no"/>
                    <label class="choice" for="post_comms_no">No</label>
                    </span>
                </div>
                </fieldset>
            </li>

            <li class="full">
                <p>For more information about how we use your data, please read our <a href="">prospectus request privacy notice</a>.</p>
            </li>

            <li class="buttons">
                <a href="#" class="button-yellow" role="button" tabindex="0" data-scroll>
        Submit
            <span class="button-overlay"><span>
                        Submit
                    </span></span></a>            </li>

        </ul>
    </form>
</section>
