

<div class="search-result-filters-button">
    <a href="#" class="button-outline" role="button" tabindex="0" data-scroll><i class="button-icon uod-icons uod-icons-filter-funnel"></i>    Filters
            <span class="button-overlay"><span><i class="button-icon uod-icons uod-icons-filter-funnel"></i>            Filters
                    </span></span></a></div>
<div class="search-result-filters">
    <div class="search-result-filters-header">
        <div class="search-result-filters-submit-wrapper">
            <a href="#" class="button-yellow" role="button" tabindex="0" data-scroll>
        Apply filters
            <span class="button-overlay"><span>
                        Apply filters
                    </span></span></a>        </div>
        <div class="search-result-navigation-close">
            <a href="#">
                <i class="uod-icons uod-icons-cross"></i>
            </a>
        </div>
    </div>
    <div class="search-result-filters-collection">
                <section class="search-result-filters-group">
            <h6>Filter by result type</h6>
                                            <div class="search-result-filter">
                    <div class="search-result-filter-checkbox">
                                                <input class="iradio_flat-blue" name="result-type" type="radio" id="result-type-course" checked/>
                                            </div>
                    <label class="search-result-filter-label" for="result-type-course">Course (2)</label>
                </div>
                                <div class="search-result-filter">
                    <div class="search-result-filter-checkbox">
                                                <input class="iradio_flat-blue" name="result-type" type="radio" id="result-type-news"/>
                                            </div>
                    <label class="search-result-filter-label" for="result-type-news">News (2)</label>
                </div>
                                <div class="search-result-filter">
                    <div class="search-result-filter-checkbox">
                                                <input class="iradio_flat-blue" name="result-type" type="radio" id="result-type-online"/>
                                            </div>
                    <label class="search-result-filter-label" for="result-type-online">Online (10)</label>
                </div>
                                <div class="search-result-filter">
                    <div class="search-result-filter-checkbox">
                                                <input class="iradio_flat-blue" name="result-type" type="radio" id="result-type-foundation"/>
                                            </div>
                    <label class="search-result-filter-label" for="result-type-foundation">Foundation (0)</label>
                </div>
                                <div class="search-result-filter">
                    <div class="search-result-filter-checkbox">
                                                <input class="iradio_flat-blue" name="result-type" type="radio" id="result-type-part-time"/>
                                            </div>
                    <label class="search-result-filter-label" for="result-type-part-time">Part-time (2)</label>
                </div>
                                    </section>
            </div>
</div>

