

<div class="search-result-filters-button">
    <a href="#" class="button-outline" role="button" tabindex="0" data-scroll><i class="button-icon uod-icons uod-icons-filter-funnel"></i>    Filters
            <span class="button-overlay"><span><i class="button-icon uod-icons uod-icons-filter-funnel"></i>            Filters
                    </span></span></a></div>
<div class="search-result-filters">
    <div class="search-result-filters-header">
        <div class="search-result-filters-submit-wrapper">
            <a href="#" class="button-yellow" role="button" tabindex="0" data-scroll>
        Apply filters
            <span class="button-overlay"><span>
                        Apply filters
                    </span></span></a>        </div>
        <div class="search-result-navigation-close">
            <a href="#">
                <i class="uod-icons uod-icons-cross"></i>
            </a>
        </div>
    </div>
    <div class="search-result-filters-collection">
                <section class="search-result-filters-group">
            <h6>Filter by result type</h6>
                        <select class="select" name="result-type" id="result-type">
                <option value="">Select an option</option>
                                    <option id="result-type-course" checked>Course (2)</option>
                                    <option id="result-type-news">News (2)</option>
                                    <option id="result-type-online">Online (10)</option>
                                    <option id="result-type-foundation">Foundation (0)</option>
                                    <option id="result-type-part-time">Part-time (2)</option>
                            </select>
                    </section>
            </div>
</div>

