

<nav class="section-navigation">
    <a href="#" class="section-navigation-link">In this section</a>
    <div class="section-navigation-wrapper">
        <i class="uod-icons uod-icons-cross"></i>
        <!-- T4 generated syntax -->
        Accommodation
        <div class="section-navigation-wrapper-inner">
            <ul class="section-navigation-wrapper-inner-ul">
                                <li class="active">
                    <a href="#">Halls of residence</a>
                                            <ul>
                                                    <li><a href="#">Flamstead Court</a></li>
                                                    <li><a href="#">Cathederal Court</a></li>
                                                    <li><a href="#">Agard Court</a></li>
                                                    <li><a href="#">Nunnery Court</a></li>
                                                    <li><a href="#">Peak Court</a></li>
                                                    <li><a href="#">Princess Alice Court</a></li>
                                                    <li><a href="#">Sir Peter Hilton Court</a></li>
                                                    <li><a href="#">High Peak Halls (Buxton)</a></li>
                                                    <li><a href="#">Chesterfield Accomodation</a></li>
                                                    <li><a href="#">Room Types</a></li>
                                                </ul>
                                    </li>
                                <li>
                    <a href="#">Applying for halls</a>
                                    </li>
                                <li>
                    <a href="#">Moving In</a>
                                    </li>
                                <li>
                    <a href="#">Once you are here</a>
                                    </li>
                                <li>
                    <a href="#">FAQ’s</a>
                                    </li>
                            </ul>
        </div>
        <!-- end of T4 generated syntax -->
    </div>
</nav>


