

<div class="main-navigation-panel">
    <div class="main-navigation-panel-content">
        <div class="main-navigation-close">
            <a href="#" class="js-header-navigation-search">
                <i class="uod-icons uod-icons-cross"></i>
            </a>
        </div>
        <div class="site-search-title">
            <h3>Search</h3>
        </div>
        <div class="site-search-inner-panel">
            <div class="site-search-input">
                <div class="search-input-group">
    <input type="text" class="search-input" placeholder="Search courses">
    <button class="search-button" type="button">
        <i class="uod-icons uod-icons-search"></i>
        <span class="search-button-overlay"><i class="uod-icons uod-icons-search"></i>search</span>
    </button>
</div>
            </div>
            <div class="site-search-results">
                                                    <h5>Courses</h5>
                                                <ul>
                                        <li>
                        <a href="#">
                            Art and Design Mphil or PhD
                        </a>
                    </li>
                                        <li>
                        <a href="#">
                            Art Therapy MA
                        </a>
                    </li>
                                        <li>
                        <a href="#">
                            An introduction to Art Therapy Supervision
                        </a>
                    </li>
                                        <li>
                        <a href="#">
                            Creative Art and Design Practice (FdA)
                        </a>
                    </li>
                                        <li>
                        <a href="#">
                            Arts Therapies Theory and Research in Relation to Practice One
                        </a>
                    </li>
                                    </ul>
                                            </div>
        </div>
    </div>
</div>

