

<style>
    .label {
        color: magenta;
        display: block;
        margin: 3em 0 1em;
    }
</style>

<span class="label">Global icons</span>
<h2>
    <i class="uod-icons uod-icons-down-arrow"></i>
    <i class="uod-icons uod-icons-up-arrow"></i>
    <i class="uod-icons uod-icons-search"></i>
    <i class="uod-icons uod-icons-right-navigation"></i>
    <i class="uod-icons uod-icons-left-navigation"></i>
    <i class="uod-icons uod-icons-information-icon"></i>
    <i class="uod-icons uod-icons-external-link"></i>
    <i class="uod-icons uod-icons-mail"></i>
    <i class="uod-icons uod-icons-menu"></i>
    <i class="uod-icons uod-icons-separator"></i>
    <i class="uod-icons uod-icons-chevron-up"></i>
    <i class="uod-icons uod-icons-chevron-down"></i>
    <i class="uod-icons uod-icons-chevron-left"></i>
    <i class="uod-icons uod-icons-chevron-right"></i>
    <i class="uod-icons uod-icons-cross"></i>
</h2>

<span class="label">Social icons</span>
<h2>
    <i class="uod-icons uod-icons-twitter"></i>
    <i class="uod-icons uod-icons-instagram"></i>
    <i class="uod-icons uod-icons-youtube"></i>
    <i class="uod-icons uod-icons-pinterest"></i>
    <i class="uod-icons uod-icons-facebook"></i>
    <i class="uod-icons uod-icons-flickr"></i>
    <i class="uod-icons uod-icons-linkedin"></i>
</h2>

