

<section class="text-block text-block-published-date" role="region" >
                <h5>21st April 2018</h5>
        </section>
<section class="text-block text-block-published-date" role="region" >
                <p>The pathways have been used to develop an indicator that measures how connected to nature a person is. It’s hoped that this indicator will be adopted by national policy makers as a way of measuring the effects of interventions. The University led this work, alongside The Wildlife Trusts, National Trust, Natural England, RSPB, and Historic England.</p>
        <p>The University led this work, alongside The Wildlife Trusts, National Trust, Natural England, RSPB, and Historic England.</p>
        </section>

