

<section class="text-block" role="region"  aria-labelledby="research-description" >
    <h2 id="research-description">Research description</h2>            <p>The pathways have been used to develop an indicator that measures how connected to nature a person is. It’s hoped that this indicator will be adopted by national policy makers as a way of measuring the effects of interventions. The University led this work, alongside The Wildlife Trusts, National Trust, Natural England, RSPB, and Historic England.</p>
        <p>The University led this work, alongside The Wildlife Trusts, National Trust, Natural England, RSPB, and Historic England.</p>
                            <a href="#" class="button-outline" role="button" tabindex="0" data-scroll>
        Call to action button
        </a>            </section>
<section class="image-group image-group-3-images">
        <figure class="image-group-image-fig">
        <img class="image-group-image-img" src="../../images/image-group-demo/_56A0980.jpg" srcset="../../images/image-group-demo/_56A0980,w_320.jpg 320w, ../../images/image-group-demo/_56A0980,w_400.jpg 400w, ../../images/image-group-demo/_56A0980,w_650.jpg 650w, ../../images/image-group-demo/_56A0980,w_900.jpg 900w, ../../images/image-group-demo/_56A0980.jpg" alt="Creative drawing" />
    </figure>
        <figure class="image-group-image-fig">
        <img class="image-group-image-img" src="../../images/image-group-demo/chairs-uod.jpg" srcset="../../images/image-group-demo/chairs-uod,w_320.jpg 320w, ../../images/image-group-demo/chairs-uod,w_400.jpg 400w, ../../images/image-group-demo/chairs-uod,w_650.jpg 650w, ../../images/image-group-demo/chairs-uod,w_900.jpg 900w, ../../images/image-group-demo/chairs-uod.jpg" alt="Designer chairs" />
    </figure>
        <figure class="image-group-image-fig">
        <img class="image-group-image-img" src="../../images/image-group-demo/UG19Prosp-Keyvis-398.jpg" srcset="../../images/image-group-demo/UG19Prosp-Keyvis-398,w_320.jpg 320w, ../../images/image-group-demo/UG19Prosp-Keyvis-398,w_400.jpg 400w, ../../images/image-group-demo/UG19Prosp-Keyvis-398,w_650.jpg 650w, ../../images/image-group-demo/UG19Prosp-Keyvis-398,w_900.jpg 900w, ../../images/image-group-demo/UG19Prosp-Keyvis-398.jpg" alt="Student relaxing with a coffee" />
    </figure>
    </section><section class="text-block" role="region"  aria-labelledby="research-description" >
    <h2 id="research-description">Research description</h2>            <p>The pathways have been used to develop an indicator that measures how connected to nature a person is. It’s hoped that this indicator will be adopted by national policy makers as a way of measuring the effects of interventions. The University led this work, alongside The Wildlife Trusts, National Trust, Natural England, RSPB, and Historic England.</p>
        <p>The University led this work, alongside The Wildlife Trusts, National Trust, Natural England, RSPB, and Historic England.</p>
                            <a href="#" class="button-outline" role="button" tabindex="0" data-scroll>
        View joint honours options
        </a>            </section>

