

<section class="text-block" role="region"  aria-labelledby="research-description" >
    <h2 id="research-description">Research description</h2>                    <p>The pathways have been used to develop an indicator that measures how connected to nature a person is. It’s hoped that this indicator will be adopted by national policy makers as a way of measuring the effects of interventions. The University led this work, alongside The Wildlife Trusts, National Trust, Natural England, RSPB, and Historic England.</p>
        <p>The University led this work, alongside The Wildlife Trusts, National Trust, Natural England, RSPB, and Historic England.</p>
        <table>
            <thead>
                <tr>
                    <th>Room Type</th>
                    <th>Located at which halls?</th>
                    <th>Quantity across Derby</th>
                    <th>What's included?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Standard</td>
                    <td>SPHC, PAC, SCC, LH </td>
                    <td>1000</td>
                    <td>In room: single bed, wash basin, wardrobe, desk and chair.</td>
                </tr>
                <tr>
                    <td>En-suite</td>
                    <td>SPHC, PAC </td>
                    <td>50</td>
                    <td>In room: small double bed, en suite, wardrobe, desk, chair, storage space, modern décor.</td>
                </tr>
                <tr>
                    <td>Bigger en-suite</td>
                    <td>SPHC, PAC </td>
                    <td>300</td>
                    <td>In room: small double bed, en suite, wardrobe, desk, chair, storage space</td>
                </tr>
            </tbody>
        </table>
    
                            <a href="#" class="button-outline" role="button" tabindex="0" data-scroll>
        Call to action button
        </a>            </section>

