

<section class="unistats">
    <h2 id="unistats">Unistats</h2>
                                                                        
    <section class="accordion">
            <div class="accordion-tablist" role="tablist">
                <div class="accordion-tab">
            <a id="full-time-label" href="#full-time" class="accordion-tab-title-container collapse-toggle active"
                data-collapse  data-group=""                 role="tab" aria-expanded="true" aria-controls="full-time">
                <h4 class="accordion-tab-title">
                    Full time
                    <span class="accordion-tab-title-indicator">
                        <i class="uod-icons uod-icons-chevron-down"></i>
                    </span>
                </h4>
            </a>
            <div id="full-time" class="accordion-tab-content collapse active" role="tabpanel" aria-labelledby="full-time-label">
                <div class="accordion-tab-content-inner">
                                <iframe id='unistats-widget-frame' title='Unistats KIS Widget' src='//widget.unistats.ac.uk/Widget/10007851/G1203/Vertical/small/en_GB/Full time' scrolling='no' class="unistats-widget unistats-widget-vertical"></iframe>
            <iframe id='unistats-widget-frame' title='Unistats KIS Widget' src='//widget.unistats.ac.uk/Widget/10007851/G1203/Horizontal/small/en_GB/Full time' scrolling='no' class="unistats-widget unistats-widget-horizontal"></iframe>
        
                </div>
            </div>
        </div>
                <div class="accordion-tab">
            <a id="part-time-label" href="#part-time" class="accordion-tab-title-container collapse-toggle"
                data-collapse  data-group=""                 role="tab" aria-expanded="false" aria-controls="part-time">
                <h4 class="accordion-tab-title">
                    Part time
                    <span class="accordion-tab-title-indicator">
                        <i class="uod-icons uod-icons-chevron-down"></i>
                    </span>
                </h4>
            </a>
            <div id="part-time" class="accordion-tab-content collapse" role="tabpanel" aria-labelledby="part-time-label">
                <div class="accordion-tab-content-inner">
                                <iframe id='unistats-widget-frame' title='Unistats KIS Widget' src='//widget.unistats.ac.uk/Widget/10007851/G1203/Vertical/small/en_GB/Part time' scrolling='no' class="unistats-widget unistats-widget-vertical"></iframe>
            <iframe id='unistats-widget-frame' title='Unistats KIS Widget' src='//widget.unistats.ac.uk/Widget/10007851/G1203/Horizontal/small/en_GB/Part time' scrolling='no' class="unistats-widget unistats-widget-horizontal"></iframe>
        
                </div>
            </div>
        </div>
                <div class="accordion-tab">
            <a id="full-time-with-industrial-year-label" href="#full-time-with-industrial-year" class="accordion-tab-title-container collapse-toggle"
                data-collapse  data-group=""                 role="tab" aria-expanded="false" aria-controls="full-time-with-industrial-year">
                <h4 class="accordion-tab-title">
                    Full time with industrial year
                    <span class="accordion-tab-title-indicator">
                        <i class="uod-icons uod-icons-chevron-down"></i>
                    </span>
                </h4>
            </a>
            <div id="full-time-with-industrial-year" class="accordion-tab-content collapse" role="tabpanel" aria-labelledby="full-time-with-industrial-year-label">
                <div class="accordion-tab-content-inner">
                                <iframe id='unistats-widget-frame' title='Unistats KIS Widget' src='//widget.unistats.ac.uk/Widget/10007851/G1203S/Vertical/small/en_GB/Full time' scrolling='no' class="unistats-widget unistats-widget-vertical"></iframe>
            <iframe id='unistats-widget-frame' title='Unistats KIS Widget' src='//widget.unistats.ac.uk/Widget/10007851/G1203S/Horizontal/small/en_GB/Full time' scrolling='no' class="unistats-widget unistats-widget-horizontal"></iframe>
        
                </div>
            </div>
        </div>
            </div>
</section>
</section>

