.media-embed {
    position: relative;

    &-fig {
        margin: 0;
    }

    &-img {
        display: block;
        margin: 0 auto; // if an image is smaller than the width, centre-align it.
        max-width: 100%;
    }

    &-a {
        display: block;
        @include disable-underlines;
        cursor: pointer;

        .uod-icons:not(.uod-icons-right-navigation) {
            position: absolute;
            bottom: 10px;
            right: 10px;
            color: $white;
            font-size: responsive 50px 80px;
            font-range: $mobile-portrait $desktop;
            z-index: 1;
            text-shadow: rgba($black,0.5) 2px 2px 10px;

            @include for-tablet-landscape-up {
                bottom: 30px;
                right: 30px;
            }

            &.uod-icons-external-link {
                font-size: responsive 25px 35px;
                font-range: 320px 1200px;
            }
        }

        .uod-icons-right-navigation {
            font-size: responsive 25px 35px;
            font-range: $mobile-portrait $desktop;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 56px;
            height: 56px;
            line-height: 56px;
            margin: -28px 0 0 -28px;
            text-align: center;
            border: 3px solid $white;
            color: $white;
            border-radius: 100%;
            background: rgba($black, 0.6);
            // transform: perspective(1px) translateZ(0);
            overflow: hidden;

            @include for-tablet-portrait-up {
                width: 66px;
                height: 66px;
                line-height: 66px;
                margin: -33px 0 0 -33px;
            }

            @include for-tablet-landscape-up {
                width: 76px;
                height: 76px;
                line-height: 76px;
                margin: -38px 0 0 -38px;
            }

            &::before {
                margin: -2px 0 0 6px;
                position: relative;
                display: block;
            }

            &::after {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: $black;
                transform: scaleX(0);
                transform-origin: 0 50%;
                transition: transform 0.3s $default-animation-curve;
                overflow: hidden;
            }
        }

        &:hover{

            .uod-icons-right-navigation::after {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        }
    }

    &-caption {
        @extend .full-width-image-caption;

        @include for-phone-only {
            padding-right: 0;
            padding-left: 0;
        }

        &-background {
            @extend .full-width-image-caption-background;
        }
    }
}

/* 
    outside text block...  
    give same behaviour as a text block
*/
.center-align > .media-embed {
    // mixin that sets a consistent columns width
    @include uod-text-column;
    
    // start: set default intra-component spacing (units are responsive and based on em values)
    @include margin-medium;
    
    @include for-tablet-portrait-up  {
        @include margin-large;
    }
    // end: set default intra-component spacing (units are responsive and based on em values)
}

/* When an image embed follows a text block adjust the margins... */
.center-align > .text-block + .media-embed,
.center-align > .media-embed + .text-block {
    @include margin-medium-offset;

    @include for-tablet-portrait-up {
        @include margin-large-offset;
    }
}

/* When an image embed follows an image embed... */
.center-align > .media-embed + .media-embed {
    @include margin-medium-offset;
}

