.sticky {
    &-call-to-action {
        text-align: right;
        font-size: 0; // to avoid spurious bottom padding when measuring the component

        &-container {
            position: relative;
            align-self: flex-end;

            .button {
                margin-bottom: 0;
            }
        }

        &-fixed {
            position: fixed;
            top: 20px;
            z-index: 2;
            transition: margin-top .3s $default-animation-curve;
        }

        &-hidden {
            visibility: hidden;
        }
    }
}
