.anchor-links {
    @include full-bleed-inset;

    transition: box-shadow .5s $default-animation-curve;
    box-shadow: none;
    background: $light-grey;
    width: 100vw;
    
    @include for-largerthan-ipad-portrait {
        flex-direction: row;
        box-shadow: none;
    }
    
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.25);

    @include for-largerthan-ipad-portrait {
        box-shadow: none;
    }

    &-container {
        @include margin-small;

        position: relative;
        z-index: 3;
        height: px-to-em(60, 17);
        
        @include for-largerthan-ipad-portrait {
            height: px-to-em(78, 17);
            background: $light-grey;
            box-shadow: none;
            transition: box-shadow .5s $default-animation-curve;
            width: 100vw;
            box-shadow: none;
            flex-direction: row;
            box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.25);
        }
    }

    &-title {
        @include body-font;
        @include full-bleed;

        display: flex;
        height: px-to-em(60, 17);

        @include for-largerthan-ipad-portrait {
            display: none;
        }

        a {
            @include disable-underlines;
        }
        
        &-link {
            @include link-colour($text-black);
            flex: 1;
            padding: 0 fluid-margin();
            line-height: px-to-em(60, 17);
            font-weight: bold;
        }

        &-label {
            display: inline-block;
            vertical-align: top;
        }

        &-menu-icon {
            margin-right: .5em;
            line-height: px-to-em(60, 25);
            font-size: px-to-em(25, 17);
        }

        &-close {
            cursor: initial;
            overflow: hidden;

            .anchor-links.active & {
                cursor: pointer;

                &:hover {
                    .anchor-links-title-close-icon {
                        transform: rotate(90deg);
                    }
                }
            }
        }

        &-close-icon {
            transform: rotate(-90deg);
            transition: transform .3s $default-animation-curve, opacity .3s $default-animation-curve;
            opacity: 0;
            padding: 0 fluid-margin();
            line-height: px-to-em(60, 25);
            color: $text-black;
            font-size: px-to-em(25, 17);

            .anchor-links.active & {
                transform: rotate(0);
                opacity: 1;
            }
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0 0 1px;
        padding: 0;
        font-size: 0;
        list-style-type: none;

        &-container {
            transition: max-height .5s $default-animation-curve;
            max-height: 0;
            overflow: hidden;

            .active & {
                max-height: 1000px;
            }

            @include for-largerthan-ipad-portrait {
                max-height: inherit;
                overflow: visible;
            }
        }

        @include for-largerthan-ipad-portrait {
            flex-direction: row;
        }

        &-item {
            display: flex;
            flex: 0 1 auto;
            margin: 0;
            border-bottom: 1px dashed $dark-grey;
            height: px-to-em(50, 17);
            font-size: 17px;
            word-wrap: break-word;
            overflow-wrap: break-word;

            &:last-child {
                border-bottom: 0;
            }

            a {
                @include underline-only-on-hover;
            }

            @include for-largerthan-ipad-portrait {
                height: px-to-em(78, 17);
            }

            @include for-largerthan-ipad-portrait {
                border-bottom: 0;
                border-left: 1px dashed $dark-grey;

                &:last-child {
                    border-right: 1px dashed $dark-grey;

                    &.active {
                        border-right-color: $mid-grey;
                        border-right-style: solid;
                    }
                }

                &.active,
                &.active + & {
                    border-left-color: $mid-grey;
                    border-left-style: solid;
                }
            }

            &-link {
                @include link-colour($text-black);

                align-items: center;
                display: flex;
                flex: 1 1 auto;
                font-family: $header-font;
                font-size: 16px;
                line-height: 1.29;
                margin-bottom: -1px;
                padding: 0 1em;
                transition: background-color .3s $default-animation-curve;

                @include for-largerthan-ipad-portrait {
                    font-size: 17px;
                    margin-bottom: 0;
                }

                &.active {
                    background: $mid-grey;
                }
            }
        }
    }
}
