

<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Modal behaviour | University of Derby FE Components</title>
    <meta name="google" value="notranslate">
    <link media="all" rel="stylesheet" href="../../styles/app.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
    <!-- Start: Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../icons/favicon-16x16.png">
    <link rel="manifest" href="../../icons/site.webmanifest">
    <link rel="mask-icon" href="../../icons/safari-pinned-tab.svg" color="#101d49">
    <link rel="shortcut icon" href="../../icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="University of Derby">
    <meta name="application-name" content="University of Derby">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="../../icons/browserconfig.xml">
    <meta name="theme-color" content="#101d49">
    <!-- End: Favicons -->
</head>
<body>
    
    <main class="center-align">
        <section class="accordion">
            <div class="accordion-tablist" role="tablist">
                <div class="accordion-tab">
            <a id="year-one-label" href="#year-one" class="accordion-tab-title-container collapse-toggle active"
                data-collapse  data-group="accordion-demo"                 role="tab" aria-expanded="true" aria-controls="year-one">
                <h4 class="accordion-tab-title">
                    Year one
                    <span class="accordion-tab-title-indicator">
                        <i class="uod-icons uod-icons-chevron-down"></i>
                    </span>
                </h4>
            </a>
            <div id="year-one" class="accordion-tab-content collapse active" role="tabpanel" aria-labelledby="year-one-label">
                <div class="accordion-tab-content-inner">
                    You’ll study modules such as:
    <ol>
        <li>Making it: Materials and Manufacturing Processes</li>
        <li>Product Design Studies</li>
        <li>Innovation</li>
        <li>Computer Aided Product Design</li>
        <li>Design Evaluation</li>
        <li>Context: Being a Product Designer</li>
    </ol>
                </div>
            </div>
        </div>
                <div class="accordion-tab">
            <a id="year-two-label" href="#year-two" class="accordion-tab-title-container collapse-toggle"
                data-collapse  data-group="accordion-demo"                 role="tab" aria-expanded="false" aria-controls="year-two">
                <h4 class="accordion-tab-title">
                    Year two
                    <span class="accordion-tab-title-indicator">
                        <i class="uod-icons uod-icons-chevron-down"></i>
                    </span>
                </h4>
            </a>
            <div id="year-two" class="accordion-tab-content collapse" role="tabpanel" aria-labelledby="year-two-label">
                <div class="accordion-tab-content-inner">
                    <p>Product Design at Derby is aimed at creative people who may have studied Art and Design or Design Technology
    at school or developed a passion for the subject since leaving formal education. We will help you to
    <strong>build on your creativity</strong> and develop an understanding of the
    <em>reality of design</em> for manufacture.
    <a href="#">This is a link.</a> because we teach in small groups we can help you to develop your potential as an
    individual and support your enthusiasm for design.</p>
                </div>
            </div>
        </div>
                <div class="accordion-tab">
            <a id="year-three-label" href="#year-three" class="accordion-tab-title-container collapse-toggle"
                data-collapse  data-group="accordion-demo"                 role="tab" aria-expanded="false" aria-controls="year-three">
                <h4 class="accordion-tab-title">
                    Year three
                    <span class="accordion-tab-title-indicator">
                        <i class="uod-icons uod-icons-chevron-down"></i>
                    </span>
                </h4>
            </a>
            <div id="year-three" class="accordion-tab-content collapse" role="tabpanel" aria-labelledby="year-three-label">
                <div class="accordion-tab-content-inner">
                    <p>Full-time students applying in September should apply for this course through UCAS  or you can apply directly to the University  for an undergraduate course if you’re not applying to any other UK university in the same year.</p>
    <p>
        <a href="#" class="button-outline">
            Apply through UCAS<i class="uod-icons uod-icons-external-link"></i>
        </a>
        <a href="#" class="button-outline">
            Apply directly to the University<i class="uod-icons uod-icons-external-link"></i>
        </a>
    </p>
                </div>
            </div>
        </div>
            </div>
</section>

    </main>

    <!-- if not internet explorer use jquery-2.1.4.min.js -->
    <!--[if !IE]> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- <![endif]-->
    
    <!-- if is internet explorer 9 or above use jquery-2.1.4.min.js -->
    <!--[if gte IE 9]>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- <![endif]-->
    
    <!-- if is internet explorer 8 or less jquery-1.11.3.min.js -->
    <!--[if lt IE 9]>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <![endif]-->
    
    <script src="../../app.js"></script>
</body>
</html>

