

<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blue (default) | University of Derby FE Components</title>
    <meta name="google" value="notranslate">
    <link media="all" rel="stylesheet" href="../../styles/app.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
    <!-- Start: Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../icons/favicon-16x16.png">
    <link rel="manifest" href="../../icons/site.webmanifest">
    <link rel="mask-icon" href="../../icons/safari-pinned-tab.svg" color="#101d49">
    <link rel="shortcut icon" href="../../icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="University of Derby">
    <meta name="application-name" content="University of Derby">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="../../icons/browserconfig.xml">
    <meta name="theme-color" content="#101d49">
    <!-- End: Favicons -->
</head>
<body>
    
    <!-- Start: For the purposes of demo only -->
<style>
    .wrapper-default {
        padding: 1em;
    }
</style>
<!-- End: For the purposes of demo only -->
<div class="wrapper-default">
<nav aria-label="Breadcrumb links" class="breadcrumbs">
    <ol class="breadcrumbs-container">
                <li class="breadcrumbs-item">
            <a href="#">International</a>
            <i class="uod-icons uod-icons-separator breadcrumbs-separator"></i>        </li>
                <li class="breadcrumbs-item">
            <a href="#">Fees and funding</a>
            <i class="uod-icons uod-icons-separator breadcrumbs-separator"></i>        </li>
                <li class="breadcrumbs-item">
            <a href="#">Scholarships and bursaries</a>
                    </li>
            </ol>
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [        {
          "@type": "ListItem",
          "position": 1,
          "item": {
            "@id": "#",
            "name": "International"
          }
        },        {
          "@type": "ListItem",
          "position": 2,
          "item": {
            "@id": "#",
            "name": "Fees and funding"
          }
        },        {
          "@type": "ListItem",
          "position": 3,
          "item": {
            "@id": "#",
            "name": "Scholarships and bursaries"
          }
        }]
    }
    </script>
</nav>
</div>

    
    <!-- if not internet explorer use jquery-2.1.4.min.js -->
    <!--[if !IE]> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- <![endif]-->
    
    <!-- if is internet explorer 9 or above use jquery-2.1.4.min.js -->
    <!--[if gte IE 9]>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- <![endif]-->
    
    <!-- if is internet explorer 8 or less jquery-1.11.3.min.js -->
    <!--[if lt IE 9]>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <![endif]-->

    <script src="../../app.js"></script>
</body>
</html>

