

<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Checkbox (default) | University of Derby FE Components</title>
    <meta name="google" value="notranslate">
    <link media="all" rel="stylesheet" href="../../styles/app.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
    <!-- Start: Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../icons/favicon-16x16.png">
    <link rel="manifest" href="../../icons/site.webmanifest">
    <link rel="mask-icon" href="../../icons/safari-pinned-tab.svg" color="#101d49">
    <link rel="shortcut icon" href="../../icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="University of Derby">
    <meta name="application-name" content="University of Derby">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="../../icons/browserconfig.xml">
    <meta name="theme-color" content="#101d49">
    <!-- End: Favicons -->
</head>
<body>
    
    <main class="center-align">
        <div class="search-result-filters-button">
    <a href="#" class="button-outline" role="button" tabindex="0" data-scroll><i class="button-icon uod-icons uod-icons-filter-funnel"></i>    Filters
            <span class="button-overlay"><span><i class="button-icon uod-icons uod-icons-filter-funnel"></i>            Filters
                    </span></span></a></div>
<div class="search-result-filters">
    <div class="search-result-filters-header">
        <div class="search-result-filters-submit-wrapper">
            <a href="#" class="button-yellow" role="button" tabindex="0" data-scroll>
        Apply filters
            <span class="button-overlay"><span>
                        Apply filters
                    </span></span></a>        </div>
        <div class="search-result-navigation-close">
            <a href="#">
                <i class="uod-icons uod-icons-cross"></i>
            </a>
        </div>
    </div>
    <div class="search-result-filters-collection">
                <section class="search-result-filters-group">
            <h6>Filter by result type</h6>
                                            <div class="search-result-filter">
                    <div class="search-result-filter-checkbox">
                                                <input class="icheckbox_flat-blue" name="result-type-course" type="checkbox" id="result-type-course" checked/>
                                            </div>
                    <label class="search-result-filter-label" for="result-type-course">Course (2)</label>
                </div>
                                <div class="search-result-filter">
                    <div class="search-result-filter-checkbox">
                                                <input class="icheckbox_flat-blue" name="result-type-news" type="checkbox" id="result-type-news"/>
                                            </div>
                    <label class="search-result-filter-label" for="result-type-news">News (2)</label>
                </div>
                                <div class="search-result-filter">
                    <div class="search-result-filter-checkbox">
                                                <input class="icheckbox_flat-blue" name="result-type-online" type="checkbox" id="result-type-online"/>
                                            </div>
                    <label class="search-result-filter-label" for="result-type-online">Online (10)</label>
                </div>
                                <div class="search-result-filter">
                    <div class="search-result-filter-checkbox">
                                                <input class="icheckbox_flat-blue" name="result-type-foundation" type="checkbox" id="result-type-foundation"/>
                                            </div>
                    <label class="search-result-filter-label" for="result-type-foundation">Foundation (0)</label>
                </div>
                                <div class="search-result-filter">
                    <div class="search-result-filter-checkbox">
                                                <input class="icheckbox_flat-blue" name="result-type-part-time" type="checkbox" id="result-type-part-time"/>
                                            </div>
                    <label class="search-result-filter-label" for="result-type-part-time">Part-time (2)</label>
                </div>
                                    </section>
            </div>
</div>

    </main>

    <!-- if not internet explorer use jquery-2.1.4.min.js -->
    <!--[if !IE]> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- <![endif]-->
    
    <!-- if is internet explorer 9 or above use jquery-2.1.4.min.js -->
    <!--[if gte IE 9]>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- <![endif]-->
    
    <!-- if is internet explorer 8 or less jquery-1.11.3.min.js -->
    <!--[if lt IE 9]>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <![endif]-->
    
    <script src="../../app.js"></script>
</body>
</html>

